$--color-text: --color-text;
$--color-bg: --color-bg;
$--color-bg--light: --color-bg--light;
$--color-primary: --color-primary;
$--color-secondary: --color-secondary;
$--color-accent: --color-accent;
$--color-accent-2: --color-accent-2;
$--color-interactive: --color-interactive;
$--color-inactive: --color-inactive;
$--color-highlight: --color-highlight;

$theme-map-light: (
  $--color-text: #1f1f1f,
  $--color-bg: #fdfdfd,
  $--color-bg--light: #fffaf0,
  $--color-primary: #702A8C,
  $--color-secondary: #BF2669,
  $--color-accent: #ffd6b5,
  $--color-accent-2: #e86620,
  $--color-interactive: #8A2BE2,
  $--color-inactive: #595959,
  $--color-highlight: #030189,
);

$theme-map-dark: (
  $--color-text: #D9D9D9,
  $--color-bg: #252525,
  $--color-bg--light: #2d2d2d,
  $--color-primary: #783592,
  $--color-secondary: #ae1557,
  $--color-accent: #d0dfd7,
  $--color-accent-2: #db9238,
  $--color-interactive: #C079E6,
  $--color-inactive: #4a4a4a,
  $--color-highlight: #6ebc9f,
);

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
      #{$key}: $value;
  }
}

:root, 
:root[data-theme="light"] {
  @include spread-map($theme-map-light);

  ::selection {
    background-color: #997FC3;
  }

  h1::selection {
    background-color: var(--color-bg--light);
    color: var(--color-primary);
  }

  a::selection,
  button::selection {
    color: var(--color-highlight);
  }
}

:root[data-theme="dark"] {
  @include spread-map($theme-map-dark);

  ::selection:not(pre > *):not(code) {
    background-color: var(--color-primary);
  }

  h1::selection {
    background-color: var(--color-bg--light);
    color: #AD90CB;
  }

  a::selection,
  button::selection {
    color: var(--color-highlight);
  }
}

:root {
  @media (prefers-color-scheme: light) {
    @include spread-map($theme-map-light);
  }
}

:root {
  @media (prefers-color-scheme: dark) {
    @include spread-map($theme-map-dark);
  }
}