$--color-text: --color-text;
$--color-bg: --color-bg;
$--color-bg--light: --color-bg--light;
$--color-primary: --color-primary;
$--color-secondary: --color-secondary;
$--color-accent: --color-accent;
$--color-accent-2: --color-accent-2;
$--color-interactive: --color-interactive;
$--color-inactive: --color-inactive;

$theme-map-light: (
  $--color-text: #1f1f1f,
  $--color-bg: #fdfdfd,
  $--color-bg--light: #fffaf0,
  $--color-primary: #702A8C,
  $--color-secondary: #BF2669,
  $--color-accent: #ffd6b5,
  $--color-accent-2: #e86620,
  $--color-interactive: #8A2BE2,
  $--color-inactive: #595959,
);

$theme-map-dark: (
  $--color-text: #c6c6c6,
  $--color-bg: #1c1c1c,
  $--color-bg--light: #f8eeff,
  $--color-primary: green,
  $--color-secondary: red,
  $--color-accent: #ab2fc7,
  $--color-accent-2: #df356d,
  $--color-interactive: #0fc6c7,
  $--color-inactive: grey,
);

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
      #{$key}: $value;
  }
}

:root:not([data-theme="dark"]) {
  @include spread-map($theme-map-light);
}

:root[data-theme="dark"] {
  @include spread-map($theme-map-dark);
}