$--color-text: --color-text;
$--color-bg: --color-bg;
$--color-primary: --color-primary;
$--color-secondary: --color-secondary;
$--color-accent: --color-accent;
$--color-accent-2: --color-accent-2;
$--color-interactive: --color-interactive;

$theme-map-light: (
  $--color-text: #1f1f1f,
  $--color-bg: #fdfdfd,
  $--color-primary: #7f00ff,
  $--color-secondary: #bd00b6,
  $--color-accent: #f72585,
  $--color-accent-2: #7209b7,
  $--color-interactive: #006ADB,
);

$theme-map-dark: (
  $--color-text: #c6c6c6,
  $--color-bg: #1c1c1c,
  $--color-primary: green,
  $--color-secondary: red,
  $--color-accent: #df356d,
  $--color-accent-2: #df356d,
  $--color-interactive: #0fc6c7,
);

@mixin spread-map($map: ()) {
  @each $key, $value in $map {
      #{$key}: $value;
  }
}

:root:not([data-theme="dark"]) {
  @include spread-map($theme-map-light);
}

:root[data-theme="dark"] {
  @include spread-map($theme-map-dark);
}