<h2 class="supporters__title">Our supporters</h2>
<div class="supporters__wrapper">
  <a class="supporters__link" href="https://www.byc.org.uk/">
    {% image "src/img/byc.png", 'The British Youth Council' %}
  </a>
  <a class="supporters__link" href="https://kmpf.org/">
    {% image "src/img/kmpf.png", 'The Kent and Medway Progression Federation (KMPF)' %}
  </a>
  <a class="supporters__link" href="https://www.hee.nhs.uk/our-work/choices-college-supported-internships">
    {% image "src/img/choices_logo.png", 'Choices College' %}
  </a>
  <a class="supporters__link" href="https://www.pocklington.org.uk/">
    {% image "src/img/tpt_logo.png", 'The Thomas Pocklington Trust (TPT)' %}
  </a>
</div>