<h1 id="h1" class="header__welcome-text" tabindex="-1">
  {%- if page.url === "/aaa/" %}
  <picture class="header__aaa-logo header__aaa-logo--light">
    <img
    sizes="(max-width: 800px) 100vw, 800px"
    srcset="
    ../guideImg/aaaAssets/aaa-light_vpjlfm_c_scale,w_300.png 300w,
    ../guideImg/aaaAssets/aaa-light_vpjlfm_c_scale,w_800.png 800w"
    src="..guideImg/aaaAssets//aaa-light_vpjlfm_c_scale,w_800.png"
    alt="Access and Assistance for All">
  </picture>
  <picture class="header__aaa-logo header__aaa-logo--dark">
    <img
    sizes="(max-width: 800px) 100vw, 800px"
    srcset="
    ../guideImg/aaaAssets/aaa-dark_lmf9it_c_scale,w_300.png 300w,
    ../guideImg/aaaAssets/aaa-dark_lmf9it_c_scale,w_800.png 800w"
    src="../guideImg/aaaAssets/aaa-dark_lmf9it_c_scale,w_800.png"
    alt="Access and Assistance for All">
  </picture>
  {% else %}
    {{ title }}
  {%- endif  %}
</h1>