<nav class="sub-nav" aria-label="Access and Assistance for All">
  <button id="aaaTrigger" class="sub-nav__toggle" aria-expanded="false" aria-controls="aaaLinks">Menu<span class="sub-nav__hamburger"></span></button>
  <ul class="sub-nav__list" id="aaaLinks">
    {%- for item in navLinks %}
      {%- if item.aaa == true %}
        <li class="sub-nav__item">
          <a class="sub-nav__link" href="{{ item.url }}"
          {%- if item.url === page.url %}
            aria-current="page"
          {%- endif %}>{{ item.text }}</a>
        </li>
    {%- endif %}
  {%- endfor %}
  </ul>
</nav>