<div class="accs__toggle-container" hidden>
  <button class="accs__toggle--expand-all btn btn--default" aria-pressed="false">Expand all<span></span></button>
  <button class="accs__toggle--collapse-all btn btn--default" aria-pressed="false">Collapse all<span></span></button>
</div>