<aside class="author-bio {%- if author.img %} author-bio--with-image{%- endif %}">
  <h2 class="author-bio__title">About {{ author.name.split(' ')[0] }}</h2>
  {%- if author.img %}
    <img class="author-bio__img" height="128" width="128" src="{{ author.img }}" alt="Profile picture of {{ author.name }}">
  {%- endif %}
  {%- if author.bio %}
    <div class="author-bio__intro">{{ author.bio | safe }}</div>
  {%- endif %}
  <dl class="author-bio__meta">
    {%- if author.title %}
      <div class="author-bio__items-wrapper">
        <dt class="author-bio__term">Position: </dt>
        <dd class="author-bio__description">{{ author.title }}</dd>
      </div>
    {%- endif %}
    {%- if author.org %}
      <div class="author-bio__items-wrapper">
        <dt class="author-bio__term">Organisation: </dt>
        <dd class="author-bio__description">{{ author.org }}</dd>
      </div>
    {%- endif %}
      {%- if author.email %}
        <div class="author-bio__items-wrapper">
          <dt class="author-bio__term">{% include '../svg/email.svg' %}</dt>
          <dd class="author-bio__description">
            <a href="mailto:{{ author.email }}" class="author-bio__link">{{ author.email }}</a>
          </dd>
        </div>
      {%- endif %}
      {%- if author.twitter %}
        <div class="author-bio__items-wrapper">
          <dt class="author-bio__term">{% include '../svg/twitter.svg' %}</dt>
          <dd class="author-bio__description">
            <a href="{{ author.twitter }}" class="author-bio__link">@{{ author.twitter.slice(20) }}</a>
          </dd>
        </div>
      {%- endif %}
      {%- if author.linkedin %}
        <div class="author-bio__items-wrapper">
          <dt class="author-bio__term">{% include '../svg/linkedin.svg' %}</dt>
          <dd class="author-bio__description">
            <a href="{{ author.linkedin }}" class="author-bio__link">{{ author.linkedin.slice(24) }}</a>
          </dd>
        </div>
      {%- endif %}
      {%- if author.website %}
        <div class="author-bio__items-wrapper">
          <dt class="author-bio__term">{% include '../svg/website.svg' %}</dt>
          <dd class="author-bio__description">
            <a href="{{ author.website }}" class="author-bio__link">{{ author.website }}</a>
          </dd>
        </div>
      {%- endif %}
  </dl>
</aside>