{%- if page.url != '/' %}<li class="card__item">{%- endif %}
  <article {%- if page.url == '/' %} class="card__item" {%- endif %} itemscope itemtype="http://schema.org/BlogPosting">
    <h3 class="card__title" itemprop="{{ guide.data.title }}"><a href="{{ guide.url }}" class="card__link">{{ guide.data.title }}</a></h3>
    <p class="card__summary" itemprop="description">{{ guide.data.summary }}</p>
    <ul class="tags" aria-label="Tagged with:">
      {%- for tag in guide.data.tags | filterTagList %}
        {%- if page.url == '/guides/' %}
          <li class="tag__item tag__item--inert">
            {{ tag }}
          </li>
        {%- else %}
          {%- set tagUrl %}/tags/{{ tag | slugify }}/{%- endset %}
          {%- if tagUrl != page.url  %}
            <li class="tag__item">
                <a href="{{ tagUrl | url }}" class="tag__link">{{ tag }}</a>
            </li>
          {%- else %}
            <li class="tag__item tag__item--inert" aria-current="page">
              {{ tag }}
            </li>
          {%- endif %}
        {%- endif %}
      {%- endfor %}
    </ul>
    {% set guideAuthor = collections.writers | getAuthor(guide.data.author) %}
    <a href="/authors/{{ guideAuthor.key }}" class="card__author-link" itemprop="{{ guideAuthor.name }}" >{{ guideAuthor.name }}</a>
    <time class="card__date" datetime="{{ guide.data.date.toISOString() }}" itemprop="{{ guide.data.date.toISOString() }}">{{ guide.data.date | readableDate }}</time>
  </article>
{%- if page.url != '/' %}</li>{%- endif %} 