<footer class="footer">
  <div class="footer__panel--primary">
    <h2 class="footer__heading">Site links</h2>
    <ul class="footer__list">
      {%- for item in navLinks %}
        <li class="footer__list-item">
          <a class="footer__link" href="{{ item.url }}"
              {%- if item.url === page.url %}
              aria-current="page"
              {%- endif %}
          >{{ item.text }}
          </a>
        </li>
      {%- endfor %}
    </ul>
  </div>
  <div class="footer__panel--secondary">
    <h2 class="footer__heading">Need help?</h2>
    <p class="footer__help-text">
      If you have trouble with accessing any part of our site or links, please let us know and one of our experienced team will identify and resolve the problem. If any part of the site does not work as intended with your assistive technology, please provide details of the browser, assistive technology you're using, and the URL wherever possible.
    </p>
    <p class="footer__help-text">
      Please feel free to email us at: <a href="mailto:{{ site.siteEmail }}">{{ site.siteEmail }}</a>, and we will respond as soon as we can.
    </p>
    <p>Find us on Twitter:</p>
    <a href="https://twitter.com/MTAccessible?s=20&t=x69yq8wMBQ4y5j6byafhyw" class="socials__link" rel="noreferrer noopener" target="_blank">{% include '../svg/twitter.svg' %}<span class="visually-hidden"> Opens in new tab</span></a>
  </div>
  <div class="footer__colophon">
    <p class="footer__date">&copy; {% year %} {{ site.siteName }}</p>
    <p class="footer__credit">&nbsp;- Powered by <a href="https://www.11ty.dev/">11ty</a></p>
  </div>
</footer>