<a class="skip-link" href="#h1">Jump to content</a>
<header class="header">
  <img class="header__logo" src="https://via.placeholder.com/260x40/FFFFFF/9400D3?text=The+Brandname" alt="{{ site.siteName }} logo" class="header__logo">
  <nav class="main-nav">
    <ul class="main-nav__list">
      {% for item in navLinks %}
        {% if item.mainNav == true %}
        <li class="main-nav__item">
          <a class="main-nav__link"
          href="{{ item.url }}"
          {% if item.url === page.url %}
            aria-current="page"
          {% endif %}>{{ item.text }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>