<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <title>{%- if not home %} {{ title }} | {{ site.siteName }} {%- else %} {{ site.siteName }} | {{ title }} {%- endif %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#702A8C">
  <meta name="description" content="{%- if not home %}{{ summary }} {%- else %}A repository of guidance & resources for organisations & individuals aiming to improve digital accessibility, across web development, documents & digital media{%- endif %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="color-scheme" content="dark light">
  <script>
    const themeSetter = window.localStorage.getItem('theme');
			if (typeof themeSetter === 'string') {
				document.documentElement.setAttribute('data-theme', themeSetter);
			}
  </script>
  <script type="module">
    document.documentElement.classList.remove('no-js');
    document.documentElement.classList.add('has-js');
  </script>
  <link rel="preload" href="/fonts/oswald-v49-latin-600.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <link rel="canonical" href="{{ site.siteUrl }}{{ page.url }}">
  <meta property="og:title" content="{%- if not home %}{{ title }} | {{ site.siteName }} {%- else %}{{ site.siteName }} | {{ title }} {%- endif %}">
  <meta property="og:description" content="{%- if not home %}{{ summary }}{%- else %}A repository of guidance & resources for organisations & individuals aiming to improve digital accessibility, through web development, documents and other digital media{%- endif %}">
  <meta property='og:url' content="{{ site.siteUrl }}{{ page.url }}" />
  <meta property="og:locale" content="en_GB">
  <meta property="og:site_name" content="{{ site.siteName }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.siteUrl }}/img/social-logo.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="Make Things Accessible">
  <meta name="twitter:description" content="{%- if not home %}{{ title }} | {{ site.siteName }} {%- else %}{{ site.siteName }} | {{ title }} {%- endif %}">
  <meta name="twitter:image" content="{{ site.siteUrl }}/img/social-logo.jpg">
  <meta name="twitter:image:alt" content="Make Things Accessible logo">
  <script type="application/ld+json">
    {%- if isGuide %}
      {% set guideAuthor = collections.writers | getAuthor(author) %}
      {
        "@context": "http://schema.org",
        "@type": "Article",
        "name": "{{ title }}",
        "author": {
          "@type": "Person",
          "name": "{{ guideAuthor.name }}"
        },
        "datePublished": "{{ date.toISOString() }}"
      }
    {%- else %}
      {
        "@context": "http://schema.org",
        "@type": "{%- if page.url == '/about/' %}AboutPage{%- elseif page.url == '/faqs/' %}FAQPage{%- else %}Website{%- endif %}",
        "name": "{{ title }}",
        "description": "{{ summary }}"
        "url": "{{ site.siteUrl }}"
      }
    {%- endif %}
  </script>
  {%- if home %}
    <script>
      if (location.href.indexOf("#invite_token") != -1) {
        var urlSplit = document.URL.split("#");
        window.location = `/admin/#${urlSplit[1]}`;
      }
    </script>
  {%- endif %}
</head>