
<header class="header">
  <a class="skip-link" href="#h1">Skip navigation</a>
  {% include "_nav.njk" %}
  {% include "_main-logo.njk" %}  

  {%- if team === 'mta' %}
    <div class="header__search-block btm__gutter--largest">
      <label id="sFilterLbl" for="sFilter" class="search__label">Search for Guides or Tags, by keyword</label>
      <div class="search__wrapper" data-expanded="false">
        <input class="search__input" id="sFilter" type="text" autocomplete="off">
        {% include '../svg/magnifier.svg' %}
      </div>
    </div>
  {%- endif %}
</header>