<nav class="pagination" aria-labelledby="guidesPagination">
  <h2 class="pagination__heading" id="guidesPagination" data-no-accent>Page {{ pagination.pageNumber + 1 }} of {{ pagination.pageLinks.length }}</h2>
  <div class="pagination__items-wrapper flex--middle">
    {%- if pagination.previousPageLink %}
      {%- if pagination.pages.length > 2 %}
        <a class="pagination__link flex--middle" href="{{ pagination.href.first }}">First</a>
      {%- endif %}
        <a class="pagination__link flex--middle" href="{{ pagination.href.previous }}">Prev</a>
    {%- else %}
      {%- if pagination.pages.length > 2 %}
        <span class="pagination__item--inert flex--middle">First</span>
      {%- endif %}
      <span class="pagination__item--inert flex--middle">Prev</span>
    {%- endif %}
    {%- if pagination.nextPageLink %}
      <a class="pagination__link flex--middle" href="{{ pagination.href.next}}">Next</a>
      {%- if pagination.pages.length > 2 %}
        <a class="pagination__link flex--middle" href="{{ pagination.href.last}}">Last</a>
      {%- endif %}
    {%- else %}
      <span class="pagination__item--inert flex--middle">Next</span>
      {%- if pagination.pages.length > 2 %}
        <span class="pagination__item--inert flex--middle">Last</span>
      {%- endif %}
    {%- endif %}
  </div>
</nav>
