<dialog class="settings-modal" id="settingsModal">
  <header class="settings-modal__header">
    <h1 class="settings-modal__title" tabindex="-1" autofocus>Site preferences</h1>
  </header>
  <div class="settings-modal__content">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto maiores magni veritatis eligendi! Labore accusamus magnam aspernatur totam, inventore nisi!</p>
    <p>Excepturi officia rerum, quae totam debitis aliquid delectus perspiciatis laudantium mollitia temporibus corrupti optio odit in veniam exercitationem maiores hic!</p>
    <p>Cumque natus, id distinctio, deserunt odit facere, aliquid quae veniam quo adipisci alias corrupti fugiat dicta ratione itaque delectus rerum!</p>
    <fieldset class="settings__fieldset">
      <legend class="settings__legend">Theme preference</legend>
      <details class="settings__help">
        <summary>Themes help</summary>
        <ul>
          <li>Light: will typically be darker text on lighter backgrounds (with limited exceptions), all contrast exceeds all WCAG 2.2 requirements at least to Level AA</li>
          <li>Reset: is the default setting, should you have chosen a theme in on your device settings, that choice will be displayed. This option also serves to remove the preference token from your browser's local storage</li>
          <li>Dark: this option is typically lighter text on darker backgrounds and also surpasses WCAG 2.2 requirements</li>
        </ul>
      </details>
      <div class="settings__btns-wrapper">
        <button class="settings__btn--theme-light" aria-pressed="false" data-pref="theme light"><span>Light</span></button>
        <button class="settings__btn--theme-reset" aria-pressed="false" data-pref="theme reset"><span>Reset</span></button>
        <button class="settings__btn--theme-dark" aria-pressed="false" data-pref="theme dark"><span>Dark</span></button>
      </div>
    </fieldset>
    <fieldset class="settings__fieldset">
      <legend class="settings__legend">Motion preference</legend>
      <details class="settings__help">
        <summary>Motion help</summary>
        <ul>
          <li>Subtle: will have subtle animations, such as transitioning from one colour to another to indicate an item has focus or is being hovered, 
            components that expand will have an expanding collapsing animation and smooth scrolling is set
          </li>
          <li>Reset obeys your operating reset preferences, fade-in and fade-out animations are still present, but no scaling or expanding &
          collapsing animations are present. Smooth scrolling is disabled. this setting also removes the token in your browser's local storage</li>
          <li>Off, completely removes all animations, including fade-in and fade-out and smooth scrolling is also disabled</li>
        </ul>
      </details>
      <div class="settings__btns-wrapper">
        <button class="settings__btn--motion-default" aria-pressed="false" data-pref="motion default"><span>Subtle</span></button>
        <button class="settings__btn--motion-reset" aria-pressed="false" data-pref="motion reset"><span>Reset</span></button>
        <button class="settings__btn--motion-off" aria-pressed="false" data-pref="motion off"><span>Off</span></button>
      </div>
    </fieldset>
    <fieldset class="settings__fieldset">
      <legend class="settings__legend">Underline all links</legend>
      <details class="settings__help">
        <summary>Underline all links help</summary>
        <ul>
          <li>Subtle: will have subtle animations, such as transitioning from one colour to another to indicate an item has focus or is being hovered, 
            components that expand will have an expanding collapsing animation and smooth scrolling is set
          </li>
          <li>Reset obeys your operating reset preferences, fade-in and fade-out animations are still present, but no scaling or expanding &
          collapsing animations are present. Smooth scrolling is disabled. this setting also removes the token in your browser's local storage</li>
          <li>Off, completely removes all animations, including fade-in and fade-out and smooth scrolling is also disabled</li>
        </ul>
      </details>
      <div class="settings__btns-wrapper">
        <button class="settings__btn--underline-default" aria-pressed="false" data-pref="underline default"><span>Default</span></button>
        <button class="settings__btn--underline-reset" aria-pressed="false" data-pref="underline reset"><span>Reset</span></button>
        <button class="settings__btn--underline-yes" aria-pressed="false" data-pref="underline yes"><span>Yes</span></button>
      </div>
    </fieldset>
    <fieldset class="settings__fieldset">
      <legend class="settings__legend">Letter spacing preference</legend>
      <details class="settings__help">
        <summary>Text spacing help</summary>
        <ul>
         <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis expedita libero laudantium unde tempore architecto incidunt eveniet, numquam magnam ad, est, reiciendis illo vel dignissimos!</li>
        </ul>
      </details>
      <div class="settings__btns-wrapper">
        <button class="settings__btn--l-spacing-default" aria-pressed="false" data-pref="l-spacing default"><span>Default</span></button>
        <button class="settings__btn--l-spacing-reset" aria-pressed="false" data-pref="l-spacing reset"><span>Reset</span></button>
        <button class="settings__btn--l-spacing-increased" aria-pressed="false" data-pref="l-spacing increased"><span>Increased</span></button>
      </div>
    </fieldset>
    <fieldset class="settings__fieldset">
      <legend class="settings__legend">Line height preference</legend>
      <details class="settings__help">
        <summary>Line height help</summary>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos deserunt, aliquam sed in, dolore atque qui quidem quasi ad itaque veniam eligendi, est nulla!</li>>
        </ul>
      </details>
      <div class="settings__btns-wrapper">
        <button class="settings__btn--l-height-default" aria-pressed="false" data-pref="l-height default"><span>Default</span></button>
        <button class="settings__btn--l-height-reset" aria-pressed="false" data-pref="l-height reset"><span>Reset</span></button>
        <button class="settings__btn--l-height-increased" aria-pressed="false" data-pref="l-height increased"><span>Increased</span></button>
      </div>
    </fieldset> 
    <fieldset class="settings__fieldset">
      <legend class="settings__legend">Paragraph spacing preference</legend>
      <details class="settings__help">
        <summary>Paragraph spacing help</summary>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos deserunt, aliquam sed in, dolore atque qui quidem quasi ad itaque veniam eligendi, est nulla!</li>>
        </ul>
      </details>
      <div class="settings__btns-wrapper">
        <button class="settings__btn--p-spacing-default" aria-pressed="false" data-pref="p-spacing default"><span>Default</span></button>
        <button class="settings__btn--p-spacing-reset" aria-pressed="false" data-pref="p-spacing reset"><span>Reset</span></button>
        <button class="settings__btn--p-spacing-increased" aria-pressed="false" data-pref="p-spacing increased"><span>Increased</span></button>
      </div>
    </fieldset>
    <fieldset class="settings__fieldset">
      <legend class="settings__legend">Word spacing preference</legend>
      <details class="settings__help">
        <summary>Word spacing help</summary>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quos deserunt, aliquam sed in, dolore atque qui quidem quasi ad itaque veniam eligendi, est nulla!</li>>
        </ul>
      </details>
      <div class="settings__btns-wrapper">
        <button class="settings__btn--w-spacing-default" aria-pressed="false" data-pref="w-spacing default"><span>Default</span></button>
        <button class="settings__btn--w-spacing-reset" aria-pressed="false" data-pref="w-spacing reset"><span>Reset</span></button>
        <button class="settings__btn--w-spacing-increased" aria-pressed="false" data-pref="w-spacing increased"><span>Increased</span></button>
      </div>
    </fieldset>
  </div>
  <footer class="settings-modal__footer">
    <button class="settings-modal__close-btn" id="modalCloseBtn"><span>Close</span></button>
  </footer>
</dialog> 