<div class="panel gutter-btm--major">
<p>These student stories were produced as part of the "Access and Assistance for All" campaign by the British Youth Council, which aims to increase awareness and access to assistive technology within further education. See the main <a href="/aaa/student-stories">Access and Assistance for All student stories</a> page to learn more about our campaign.</p>
</div>