{% include "_head.njk" %}
<body>
  {% include "_header.njk" %}
  {% if '/accessibility' in page.url or '/privacy' in page.url or '/codeOfConduct' in page.url %}
    {% if toc %}
      <nav class="cms__toc" aria-labelledby="toc-heading">
        <details open>
          <summary id="toc-heading">Table of contents</summary>
          {{ content | toc | safe }}
        </details>
      </nav>
    {% endif %}
  {% endif %}
  <main class="main {%- if '/accessibility' in page.url or '/about' in page.url or '/codeOfConduct' in page.url or '/contributing' in page.url or '/privacy' in page.url %} cms{%- endif %}">
    {{ content | safe }}
  </main>
  {% include "_footer.njk" %}
  <script src="/js/main.js"></script>
  {%- if page.url == "/faqs/" %}
    <script src="/js/faqs.js"></script>
  {%- endif %}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
    </script>
</body>
</html>