{% include "_head.njk" %}
<body>
  {% include "_header.njk" %}
  <main class="main {%- if '/accessibility' in page.url or '/about' in page.url %} cms{%- endif %}">
    {{ content | safe }}
  </main>
  {% include "_footer.njk" %}
  <script src="/js/main.js"></script>
  {%- if page.url == "/faqs/" %}
    <script src="/js/faqs.js"></script>
  {%- endif %}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
    </script>
</body>
</html>