{% include "_head.njk" %}

<body {%- if aaa %} class="aaa-content" {% endif %}>
  {% include "_header.njk" %}
  <main class="main">
    {%- if not aaa %}

    <div class="guide__info-panel">
      <div class="guide__author">
        {% set guideAuthor = collections.writers | getAuthor(author) %}
        <strong>By: </strong>
        <a href="/authors/{{ guideAuthor.key }}">{{ guideAuthor.name }}</a>
      </div>
      <div class="guide__date">
        <strong>Posted: </strong><time datetime="{{ date.toISOString() }}">{{ date | readableDate }}</time>
      </div>
      <strong class="guide__label">Tagged with: </strong>
      {% set tagCount = tags | filterTagList | length %}
      <{% if tagCount> 1 %}ul{% else %}div{% endif %} class="tags tags__all">
        {%- for tag in tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{%- endset %}
        <{% if tagCount> 1 %}li{% else %}span{% endif %} class="tag__item">
          <a href="{{ tagUrl | url }}" class="tag__link">{{ tag }}</a>
        </{% if tagCount> 1 %}li{% else %}span{% endif %}>
        {%- endfor %}
      </{% if tagCount> 1 %}ul{% else %}div{% endif %} class="tags tags__all">
    </div>
    {% endif %}
    {% if toc %}
    <nav class="cms__toc" aria-labelledby="toc-heading">
      <details open>
        <summary id="toc-heading">Table of contents</summary>
        {{ content | toc | safe }}
      </details>
    </nav>
    {% endif %}
    {% if isAAAStory %}
    {% include "_studentStoryIntro.njk" %}
    {% endif %}
    <article class="cms">
      {{ content | safe }}
    </article>
    {% include "_social-share.njk" %}
    {%- if not aaa %}
    {% set author = guideAuthor %}
    {% if (author != 'Admin') %}
    {% include "_bio.njk" %}
    {% endif %}
    {% endif %}
  </main>
  {% include "_footer.njk" %}
  <script src="/js/main.js"></script>
  <script src="/js/guide.js"></script>
</body>

</html>