{% include "_head.njk" %}
<body>
  {% include "_header.njk" %}
  <main class="main">
    <div class="guide__info-panel">
      <div class="guide__author">
        {% set guideAuthor = collections.writers | getAuthor(author) %}
        <strong>By: </strong>
        <a href="/authors/{{ guideAuthor.key }}">{{ guideAuthor.name }}</a>
      </div>
      <div class="guide__date">
        <strong>Posted: </strong>{{ date | readableDate }}
      </div>
      <strong class="guide__label">Tagged with: </strong>
      <ul class="tags tags__all">
        {%- for tag in tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{%- endset %}
        <li class="tag__item">
          <a href="{{ tagUrl | url }}" class="tag__link">{{ tag }}</a>
        </li>
        {%- endfor %}
      </ul>      
    </div>
    <article class="cms">
      {{ content | safe }}
    </article>
    {% set author = guideAuthor %}
    {% if author != 'Admin' %}
      {% include "_bio.njk" %}
    {% endif %}
  </main>
  {% include "_footer.njk" %}
  <script src="/js/main.js"></script>
  <script src="/js/guide.js"></script>
</body>
</html>