@use '../vendors/mq';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
}

body[modal-open]::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  z-index: 3;
}

main {
  display: block;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea {
  font: inherit;
}

button,
summary {
  min-height: 2.75rem;
  cursor: pointer;
}
  
a:focus,
a:focus-visible,
button:focus,
button:focus-visible,
summary:focus,
summary:focus-visible,
h1:focus-visible,
input:focus,
input:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;

  @media (forced-colors: active) {
    transition: all 0.01ms ease;
  }
}

[data-pref--motion="none"] *,
[data-pref--motion="none"] *::before,
[data-pref--motion="none"] *::after {
  transition: all .0001ms !important;
  transition-delay: .0001ms !important;
  transition: transform .0001ms !important;
  scroll-behavior: unset !important;
  animation-delay: .0001ms !important;
  animation-duration: .0001ms !important;
}

@media screen and (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: unset !important;
  }
}