@use '../vendors/mq';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 $space-xs;
  background: var(--color-bg);

  @include mq.mq($from:md) {
    padding: 0 $space-lg;
  }
}

main {
  display: block;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a:focus,
button:focus,
a:hover,
button:hover,
h1:focus-visible {
  outline: 3px dotted transparent;
  outline-offset: 2px;
  // transition: outline-color 0.01ms ease-in-out !important;

  @media (forced-colors: active) {
    transition: all 0.01ms ease-in-out;
  }
}
