@use '../vendors/mq';

/* oswald-600 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/oswald-v49-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v49-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}

html {
  font-size: 100%;
}

body {
  position: relative;
  font-size: $default-paragraph-size;
  line-height: $default-line-height;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  color: var(--color-text);
  text-rendering: optimizeLegibility;

  @include mq.mq($from:lg) {
    font-size: $large-paragraph-size;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading-line-height;
  letter-spacing: .0125rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

h1 {
  position: relative;
  font-size: 3.5rem;
  padding-bottom: $space-biggest;

  @include mq.mq($from:lg) {
    font-size: 4rem;
  }
}

h2 {
  display: inline-block;
  position: relative;
  font-size: 2.25rem;
  margin-bottom: $space-lg;

  &::before {
    content: "";
    position: absolute;
    bottom: -$space-sm;
    left: 0;
    border-radius: $radius-md;
    height: 5px;
    width: 100%;
    background: linear-gradient(111.3deg, var(--color-accent-2) 9.6%, var(--color-accent) 93.6%);
  }

  @include mq.mq($from:lg) {
    margin-bottom: $space-xl;
    font-size: 2.5rem;
  }
}

h3 {
  margin-bottom: $space-md;
  font-size: 1.75rem;

  @include mq.mq($from:lg) {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.5rem;

  @include mq.mq($from:lg) {
    font-size: 1.75rem;
  }
}

h5 {
  font-size: 1.3rem;

  @include mq.mq($from:lg) {
    font-size: 1.4rem;
  }
}

h6 {
  font-size: 1.25rem;

  @include mq.mq($from:lg) {
    font-size: 1.35rem;
  }
}

p {
  max-width: 80rem;

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

a {
  text-decoration-skip-ink: all;
}

a:not([class]),
a:not([class]):visited {
  @include focus-indicator;
  @extend %underline;

  margin: -3px -3px;
  padding: 3px 3px;
  font-weight: 600;
  color: var(--color-interactive);
}

ul:not([class]) {
  margin: $space-lg $space-md;

  & > li {
    &::marker {
      color: var(--color-accent-2);
    }
  }
}

%small-text {
  font-size: 1rem;
}