@use '../vendors/mq';

/* oswald-600 - latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/fonts/oswald-v49-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/oswald-v49-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: block;
}

html {
  font-size: 100%;
}


*,
*::before,
::after {
  [data-pref--l-spacing="increased"] & {
    letter-spacing: calc($default-paragraph-size * .12) !important;
  }

  [data-pref--w-spacing="increased"] & {
    word-spacing:  calc($default-paragraph-size * .16) !important;
  }
}

body {
  @include font-size;
  
  position: relative;
  font-size: $default-paragraph-size;
  line-height: $default-line-height;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  color: var(--color-text);
  text-rendering: optimizeLegibility;
}

kbd {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $default-line-height;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
}

h1 {
  margin-top: $space-bigger;
  padding-bottom: $space-biggest;
  text-align: center;
  font-size: 3rem;
  line-height: 1.25;

  .aaa-content & {
    padding-bottom: $space-md;
  }

  @media (forced-colors: active) {
    line-height: 1.5;
  }

  @include mq.mq($from:sm) {
    font-size: 3.5rem;
  }

  @include mq.mq($from:md) {
    margin-top: $space-biggest;
  }

  @include mq.mq($from:lg) {
    font-size: 4rem;
  }
}

h2 {
  position: relative;
  font-size: 2.25rem;
  margin-bottom: $space-lg;

  &:not(.accordion):not(.pagination__heading):not(.card__item &) {
    padding-left: $space-md;

    &::before {
      content: "";
      position: absolute;
      top: .4rem;
      left: 0;
      border-radius: $radius-md;
      height: calc(100% - #{$space-xs});
      width: 6px;
      background: linear-gradient(to top, var(--color-primary), var(--color-accent-2));

      @include mq.mq($from:lg) {
        top: .3rem;
      }
    }
  }
  

  @include mq.mq($from:lg) {
    margin-bottom: $space-xl;
    font-size: 2.5rem;
  }
}

h3 {
  margin-bottom: $space-md;
  font-size: 1.75rem;

  @include mq.mq($from:lg) {
    font-size: 2rem;
  }
}

h4 {
  margin-bottom: $space-md;
  font-size: 1.5rem;

  @include mq.mq($from:lg) {
    font-size: 1.75rem;
  }
}

h5 {
  margin-bottom: $space-md;
  font-size: 1.3rem;

  @include mq.mq($from:lg) {
    font-size: 1.4rem;
  }
}

h6 {
  margin-bottom: $space-md;
  font-size: 1.25rem;

  @include mq.mq($from:lg) {
    font-size: 1.35rem;
  }
}

p {
  max-width: 80rem;

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

a {
  text-decoration-skip-ink: auto;
  word-break: break-word;
}

a:not([class]),
a:not([class]):visited {
  @include focus-indicator;
  @extend %underline;

  margin: -3px -3px;
  padding: 3px 3px;
  font-weight: 600;
  color: var(--color-interactive);
}

ul:not([class]) {
  margin-bottom: $space-xxxl;
  margin-left: $space-lg;
}

ul:not([class]) > li > ul {
  margin-bottom: 0;
  margin-left: $space-lg;
}

ul:not([class]) > li > ul > li > ul {
  margin-bottom: 0;
  margin-left: $space-xxl;
}

ul:not([class]) {

  & > li {
    &::marker {
      color: var(--color-accent-2);
    }
  }
}

