@keyframes hide {
  0% {
    visibility: visible;
  }

  99% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes show {
  0% {
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  100% {
    visibility: visible;
  }
}

@keyframes down-rotate {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-.625rem) rotate(0);
  }

  100% {
    transform: translateY(-.625rem) rotate(45deg);
  }
}

@keyframes back-up-rotate {
  0% {
    transform: translateY(-.625rem) rotate(45deg);
  }

  50% {
    transform: translateY(-.625rem) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes up-rotate {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(.625rem) rotate(0);
  }

  100% {
    transform: translateY(.625rem) rotate(-45deg);
  }
}

@keyframes back-down-rotate {
  0% {
    transform: translateY(.625rem) rotate(-45deg);
  }

  50% {
    transform: translateY(.625rem) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

