@keyframes down-rotate {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-.625rem) rotate(0);
  }

  100% {
    transform: translateY(-.625rem) rotate(45deg);
  }
}

@keyframes back-up-rotate {
  0% {
    transform: translateY(-.625rem) rotate(45deg);
  }

  50% {
    transform: translateY(-.625rem) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes up-rotate {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(.625rem) rotate(0);
  }

  100% {
    transform: translateY(.625rem) rotate(-45deg);
  }
}

@keyframes back-down-rotate {
  0% {
    transform: translateY(.625rem) rotate(-45deg);
  }

  50% {
    transform: translateY(.625rem) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes colour-swipe {
  0% {
    background-position: 100%;
  }

  0% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

@keyframes underline-word {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

