@keyframes hide {
  0% {
    visibility: visible;
  }

  99% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes show {
  0% {
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  100% {
    visibility: visible;
  }
}
