@use '../vendors/mq';

.visually-hidden {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.gutter-btm--minor {
  margin-bottom: $space-abs-xxxl;
  
  @include mq.mq($from:md) {
    margin-bottom: $space-abs-xxxxl;
  }
}

.gutter-btm--major {
  margin-bottom: $space-abs-big;

  @include mq.mq($from:md) {
    margin-bottom: $space-abs-bigger;
  }
}

.btm__gutter--largest {
  margin-bottom: $space-abs-bigger;

  @include mq.mq($from:md) {
    margin-bottom: $space-abs-biggest;
  }
}

.flex--middle {
  display: flex;
  justify-content: center;
  align-items: center;
}