@use '../vendors/mq';

@mixin focus-indicator($is_button: false, $is_pill: false, $is_destructive: false, $is_inverted: false) {
  transition: background-color 250ms ease, color 250ms ease;

  &:focus,
  &:hover {
    background-color: var($--color-interactive);
    color: var($--color-bg);

    @if $is_destructive {
      color: var(--color-warn--bright);
      background-color: var(--color-bg);
    }

    @if $is_inverted {
      background-color: var($--color-bg);
      color: var($--color-interactive);
    }
  }

  @if $is_button {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -6px;
      right: -6px;
      bottom: -6px;
      left: -6px;
      border: 2px solid transparent;
      border-radius: $radius-lg;
      transition: border-color 200ms ease;

      @if $is_pill {
        border-width: 3px;
        border-radius: $radius-xxl;
        inset: -8px;
      }

      @media (forced-colors: active) {
        display: none;
      }
    }

    &:focus-visible {
      &::before {
        border-color: var(--color-interactive);
        @if $is_destructive {
          border-color: var(--color-warn--bright);
        }
      }
    }
  }
}

@mixin font-size {
  font-size: $default-font-size;

  @include mq.mq($from:lg) {
    font-size: $large-paragraph-size;
  }

  @include mq.mq($from:xl) {
    font-size: $x-large-paragraph-size;
  }
}

@mixin dark-theme($styles: ()) {
  @media (prefers-color-scheme: dark) {
    @each $prop, $val in $styles {
      #{$prop}: $val;
    }
  }

  :root[data-pref--theme="dark"] & {
    @each $prop, $val in $styles {
      #{$prop}: $val;
    }
  }
}

@mixin light-theme($styles: ()) {
  @media (prefers-color-scheme: light) {
    @each $prop, $val in $styles {
      #{$prop}: $val;
    }
  }

  :root[data-pref--theme="light"] & {
    @each $prop, $val in $styles {
      #{$prop}: $val;
    }
  }
}