%underline {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 3px;
  text-decoration-color: inherit;
}

%visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

%small-text {
  font-size: 1.125rem;
}

%smallest-text {
  font-size: 1rem;
}

%button-inverted-colour {
  display: flex;
  border: 1px solid var(--color-bg);
  border-radius: $radius-sm;
  line-height: 1;
  font-weight: 600;
  color: var(--color-interactive);
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}