$site-width: 95rem;
$default-line-height: 1.5;
$heading-line-height: 1.25;
$large-line-height: 1.75;
$default-paragraph-size: 1.125rem;
$large-paragraph-size: 1.25rem;
$x-large-paragraph-size: 1.375rem;
$large-text: 1.5rem;

$space-xxxs: 0.125rem;
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-xxl: 2.5rem;
$space-xxxl: 3rem;
$space-xxxxl: 4rem;
$space-bigger: 6rem;
$space-biggest: 10rem;

$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 8px;
$radius-xl: 10px;
$radius-xxl: 2.5rem;
$radius-pill: 50%;