$site-width: 95rem;
$default-line-height: 1.5;
$large-line-height: 1.75;
$small-paragraph-size: 1rem;
$default-font-size: 1.125rem;
$medium-paragraph-size: 1.25rem;
$large-paragraph-size: 1.375rem;
$x-large-paragraph-size: 1.5rem;
$large-text: 1.5rem;

$space-rel-xxxs: 0.125rem;
$space-rel-xxs: 0.25rem;
$space-rel-xs: 0.5rem;
$space-rel-sm: 0.75rem;
$space-rel-md: 1rem;
$space-rel-lg: 1.5rem;
$space-rel-xl: 2rem;
$space-rel-xxl: 2.5rem;
$space-rel-xxxl: 3rem;
$space-rel-xxxxl: 4rem;
$space-rel-bigger: 6rem;
$space-rel-biggest: 10rem;

$space-abs-xxxs: 2px;
$space-abs-xxs: 4px;
$space-abs-xs: 6px;
$space-abs-sm: 8px;
$space-abs-md: 12px;
$space-abs-lg: 16px;
$space-abs-xl: 20px;
$space-abs-xxl: 24px;
$space-abs-xxxl: 32px;
$space-abs-xxxxl: 40px;
$space-abs-big: 56px;
$space-abs-bigger: 90px;
$space-abs-biggest: 120px;

$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 8px;
$radius-xl: 10px;
$radius-xxl: 2.5rem;
$radius-pill: 50%;