@charset "UTF-8";
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}

:root:not([data-theme=dark]) {
  --color-text: #1f1f1f;
  --color-bg: #f6f6f6;
  --color-primary: #9400d3;
  --color-secondary: #695e93;
  --color-accent: #4a94a8;
  --color-interactive: #b200fd;
}

:root[data-theme=dark] {
  --color-text: #c6c6c6;
  --color-bg: #1c1c1c;
  --color-primary: green;
  --color-secondary: red;
  --color-accent: #df356d;
  --color-interactive: #0fc6c7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

main {
  display: block;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
