@charset "UTF-8";
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}

body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
