@charset "UTF-8";
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 20em) {
  body:before {
    content: "xxs ≥ 320px (20em)";
  }
}
@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}

:root:not([data-theme=dark]) {
  --color-text: #1f1f1f;
  --color-bg: #fdfdfd;
  --color-primary: #9400d3;
  --color-secondary: #695e93;
  --color-accent: #e88433;
  --color-accent-2: #e75225;
  --color-interactive: #b200fd;
}

:root[data-theme=dark] {
  --color-text: #c6c6c6;
  --color-bg: #1c1c1c;
  --color-primary: green;
  --color-secondary: red;
  --color-accent: #df356d;
  --color-accent-2: #df356d;
  --color-interactive: #0fc6c7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

main {
  display: block;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a:focus,
button:focus,
h1:focus {
  outline: 3px dotted transparent;
}

body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 20em) {
  body:before {
    content: "xxs ≥ 320px (20em)";
  }
}
@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
/* oswald-600 - latin */
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/oswald-v49-latin-600.woff2") format("woff2"), url("../fonts/oswald-v49-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
html {
  font-size: 100%;
}

body {
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
  color: var(--color-text);
  text-rendering: optimizeLegibility;
}
@media (min-width: 64em) {
  body {
    font-size: 1.25rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  letter-spacing: 0.0125rem;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3.5rem;
}
@media (min-width: 64em) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  display: inline-block;
  position: relative;
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}
h2::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 0;
  border-radius: 6px;
  height: 5px;
  width: 100%;
  background: linear-gradient(111.3deg, var(--color-accent-2) 9.6%, var(--color-accent) 93.6%);
}
@media (min-width: 64em) {
  h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2rem;
}
@media (min-width: 64em) {
  h3 {
    font-size: 2.25rem;
  }
}

h4 {
  font-size: 1.75rem;
}
@media (min-width: 64em) {
  h4 {
    font-size: 2rem;
  }
}

h5 {
  font-size: 1.5rem;
}
@media (min-width: 64em) {
  h5 {
    font-size: 1.75rem;
  }
}

h6 {
  font-size: 1.35rem;
}
@media (min-width: 64em) {
  h6 {
    font-size: 1.5rem;
  }
}

p {
  max-width: 80rem;
}
p:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

a:not([class]),
a:not([class]):visited {
  margin: -2px -3px;
  padding: 2px 3px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  text-decoration-color: inherit;
  color: var(--color-interactive);
}
a:not([class]):focus, a:not([class]):hover,
a:not([class]):visited:focus,
a:not([class]):visited:hover {
  background-color: var(--color-interactive);
  color: var(--color-bg);
}

ul:not([class]) {
  margin: 1.5rem 1rem 0.25rem;
}
ul:not([class]) > li::marker {
  color: var(--color-accent-2);
}

body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 20em) {
  body:before {
    content: "xxs ≥ 320px (20em)";
  }
}
@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
.header {
  height: 35rem;
  background: var(--color-primary);
  background: linear-gradient(315deg, var(--color-primary) 0%, var(--color-secondary) 100%);
  background: linear-gradient(252deg, var(--color-primary) 0%, var(--color-secondary) 82%);
  clip-path: polygon(0 0, 100% 0, 99% 95%, 0% 100%);
}
@media (min-width: 48em) {
  .header {
    padding-top: 2rem;
    height: 40rem;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
}

.main-nav {
  background: var(--color-bg);
  padding-bottom: 1rem;
}
@media (min-width: 26.25em) {
  .main-nav {
    background: none;
  }
}
@media (min-width: 48em) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 1.5rem;
    border-radius: 2.5rem;
    padding: 0.5rem 2.5rem;
    background: var(--color-bg);
  }
}

.header__logo {
  margin-left: 50%;
  transform: translate(-50%);
  font-size: 0;
}
@media (min-width: 48em) {
  .header__logo {
    margin-left: 0;
    transform: none;
  }
}

.main-nav__list {
  list-style-type: none;
}
@media (min-width: 26.25em) {
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    margin: 0.75rem 0.5rem 0;
    border-radius: 6px;
    padding: 0.75rem 0;
    background: var(--color-bg);
  }
}
@media (min-width: 48em) {
  .main-nav__list {
    justify-content: end;
    margin-top: 0;
    padding: 0.25rem 0;
  }
}

.main-nav__item {
  position: relative;
}
@media (max-width: 47.99em) {
  .main-nav__item {
    margin-bottom: 0.125rem;
  }
}

.main-nav__link {
  position: relative;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  font-weight: 600;
  color: var(--color-interactive);
  transition: background 250ms ease-in, color 250ms ease-in;
}
@media (min-width: 26.25em) {
  .main-nav__link {
    padding: 0.75rem 0.75rem;
  }
}
@media (min-width: 48em) {
  .main-nav__link {
    display: inline-block;
    padding: 0.5rem 0.75rem;
  }
}
.main-nav__link[aria-current=page]::before {
  content: "";
  position: absolute;
  left: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 0.25rem 0 0.25rem 0.375rem;
  border-color: transparent transparent transparent var(--color-interactive);
  transition: border-left-color 250ms ease-in;
}
@media (min-width: 26.25em) {
  .main-nav__link[aria-current=page]::before {
    top: unset;
    bottom: 0.5rem;
    transform: none;
    left: 0.75rem;
    width: calc(100% - 1.5rem);
    border: 0;
    border-bottom: 4px solid var(--color-interactive);
    transition: border-bottom-color 250ms ease-in;
  }
}
@media (min-width: 48em) {
  .main-nav__link[aria-current=page]::before {
    bottom: 0.25rem;
    transform: translateY(-50%);
  }
}
.main-nav__link:focus, .main-nav__link:hover {
  background: var(--color-interactive);
  color: var(--color-bg);
}
.main-nav__link:focus::before, .main-nav__link:hover::before {
  border-left-color: var(--color-bg);
}
@media (min-width: 26.25em) {
  .main-nav__link:focus::before, .main-nav__link:hover::before {
    border-bottom-color: var(--color-bg);
  }
}

.header__welcome-text {
  position: relative;
  margin-top: 6rem;
  text-align: center;
  color: var(--color-bg);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.header__welcome-text::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 0;
  border-bottom: 4px solid var(--color-bg);
  transition: width 250ms ease-in;
}
@media (min-width: 48em) {
  .header__welcome-text {
    margin: 6rem auto 0;
    width: 18rem;
  }
}
.header__welcome-text:focus-visible::before {
  width: 100%;
}

body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 20em) {
  body:before {
    content: "xxs ≥ 320px (20em)";
  }
}
@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 20em) {
  body:before {
    content: "xxs ≥ 320px (20em)";
  }
}
@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
body {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 0.5rem;
  background: var(--color-bg);
}
@media (min-width: 48em) {
  body {
    padding: 0 1.5rem;
  }
}

body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 20em) {
  body:before {
    content: "xxs ≥ 320px (20em)";
  }
}
@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
.skip-link {
  position: absolute;
  left: 0;
  padding: 0.5rem 0.75rem;
  width: auto;
  height: auto;
  background: var(--color-interactive);
  color: var(--color-bg);
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  transition: top 250ms ease-in;
  z-index: 1;
}

.skip-link:not(:active):not(:focus) {
  top: -3rem;
}

.skip-link:focus {
  top: 0;
}

body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 20em) {
  body:before {
    content: "xxs ≥ 320px (20em)";
  }
}
@media (min-width: 26.25em) {
  body:before {
    content: "xs ≥ 420px (26.25em)";
  }
}
@media (min-width: 37.5em) {
  body:before {
    content: "sm ≥ 600px (37.5em)";
  }
}
@media (min-width: 48em) {
  body:before {
    content: "md ≥ 768px (48em)";
  }
}
@media (min-width: 64em) {
  body:before {
    content: "lg ≥ 1024px (64em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "xl ≥ 1200px (75em)";
  }
}
@media (min-width: 90em) {
  body:before {
    content: "xxl ≥ 1440px (90em)";
  }
}
.intro-panel {
  margin-top: 4rem;
  padding: 0.75rem;
  border: 2px solid var(--color-accent);
  border-radius: 6px;
}
@media (min-width: 48em) {
  .intro-panel {
    margin: 6rem 2.5rem 0;
    border-width: 3px;
    border-radius: 8px;
    padding: 2rem 1.5rem;
  }
}
