@use '../vendors/mq';

.counter-table__wrapper,
.sc-table__wrapper,
.modal__text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $space-xxxl;
  width: 100%;
  overflow-x: auto;
}

.counter-table,
.sc-table {
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x: auto;
  font-size: $medium-paragraph-size;
}

.counter-table__caption,
.sc-table__caption  {
  padding-bottom: $space-xs;
  text-align: left;
  font-size: $x-large-paragraph-size;
  font-weight: bold;
}

.counter-table,
.sc-table {
  
  th,
  td {
    border: 1px solid var(--color-text);
    width: fit-content;
    text-align: center;
    white-space: nowrap; 
  }
}

.counter-table {

  td {
    padding: $space-sm;
  }
}

.sc-table {

  td {
    padding: calc($space-xxs + $space-lg) $space-lg;
  }
}

.counter-table,
.sc-table {

  tbody {
    tr:nth-child(odd) {
      background: var(--color-bg--light);
    }
  }
}

.counter-table,
.sc-table {

  th {
    padding: $space-sm;
    font-weight: bold;
  }
}

.counter-table,
.sc-table {
  
  th:not([scope="col"]) {
    text-align: left;
  }
}

.counter-table,
.sc-table {
  
  th[scope="col"] {
    width: min-content;
  }
}

.counter-table__total,
.counter-table__result,
.sc-table__result,
.sc-table__total {
  display: inline-block;
  margin: 0 $space-xs;
  border-radius: $radius-sm;
  padding: $space-xs;
  text-align: center;
  font-weight: bold;
  transition: background 200ms ease-in;
}

.counter-table__result {
  width: 2.75rem;
}

.counter-table__total {
  width: 4rem;
}

[data-pass=true] {
  background-color: var(--color-tip);
}

[data-pass=false] {
  background-color: var(--color-warn);
}

.sc-table__result,
.sc-table__total {
  width: $space-xxxxl;
}

.counter-table__btn {
  position: relative;
  border: 2px solid var(--color-interactive);;
  border-radius: $radius-pill;
  height: 2rem;
  width: 2rem;
  background-color: var(--color-interactive);
  transition: background 150ms ease-in;

  &:focus-visible {
    background: var(--color-bg);
  }

  &:focus-visible {
    &::before {
      background: var(--color-interactive);
    }
  }

  &:active {
    background-color: var(--color-bg);

    &::before,
    &::after {
      background-color: var(--color-interactive);
    }
  }
}

.counter-table__btn--minus::before,
.counter-table__btn--add::before,
.counter-table__btn--add::after  {
  content: "";
  position: absolute;
  background: var(--color-bg);
  transition: background 150ms ease-in;
}

.counter-table__btn {

  &::before {
    display: inline-block;
    top: .75rem;
    left: .25rem;
    width: 1.25rem;
    height: .25rem;
  }
}

.counter-table__btn--add {
  
  &:after {
    top: .25rem;
    left: .75rem;
    width: .25rem;
    height: 1.25rem;
  }

  &:focus-visible {
    &::after {
      background: var(--color-interactive);
    }
  }
}

.sc-table__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: -3px -3px;
  padding: 3px 3px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-interactive);
  transition: background 200ms ease-in;

  &::before {
    content: "";
    position: absolute;
    bottom: $space-xxs;
    width: calc(100% - $space-xs);
    height: 0;
    border-top: 3px solid var(--color-interactive);
    transition: border-color 200ms ease-in;
  }

  > span {
    padding: 0 $space-xxs;
  }

  > svg {
    margin-left: $space-xxs;
    fill: var(--color-interactive)
  }

  &:focus,
  &:hover {
    background-color: var(--color-interactive);
    color: var(--color-bg);

    &::before {
      border-color: var(--color-bg);
    }

    > svg {
      fill: var(--color-bg);
    }
  }
}

[data-radio-cell] {
  position: relative;
}

.sc-table__radio-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 0 $space-xs;
  width: calc(100% + .5rem);
  margin-bottom: $space-xxs;
}

.sc-table__label {
  display: flex;
  align-items: center;
  margin-left: $space-xs;
  border-radius:$radius-sm;
  padding: $space-xxxs $space-xxs;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: $space-xs;
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: $radius-xs;
    z-index: -1;
    transition: background-color 200ms ease-in;
  }
}

.sc-table__radio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: $space-xxs;
  border: 2px solid var(--color-interactive);
  border-radius: $radius-pill;
  width: 1.75rem;
  height: 1.75rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-bg);
  cursor: pointer;
  z-index: 2;

  
 
  &::before {
    position: absolute;
    content: "";
    border-radius: $radius-pill;
    height: 1.125rem;
    width: 1.125rem;
    transform: scale(0);
    transition: transform 200ms ease-in-out;
  }

  &:focus {
    outline: 3px solid transparent;
    outline-offset: -2px;

    + .sc-table__label {
      color: var(--color-bg);
    }

    + .sc-table__label::before {
      background-color: var(--color-interactive);
    }
  }

  &:checked {
    border-color: var(--color-interactive);

    &::before {
      background-color: var(--color-interactive);
      transform: scale(1);
    }
  }
}

.sc-table__comment {
  margin: 0;
  border: 2px solid var(--color-interactive);
  border-radius: $radius-sm;
  padding: $space-xxs;
  min-width: 22.5rem;
  width: 100%;
  height: 9rem;
  font-size: $default-paragraph-size;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);

  &:focus {
    outline-color: transparent;
  }
}

.counter-table__group,
.sc-table__group {
  border: none;
}

.sc-table__comment-wrapper {
  border-radius: $radius-xs;
  overflow: hidden;
  position: relative;
  transition: box-shadow 200ms ease-in;

  &:focus-within {
    box-shadow: 0px 0px 0px 2px var(--color-bg), 0px 0px 0px 5px var(--color-interactive);
  }

  @supports not selector(:focus-visible) {
    .sc-table__comment {
      &:focus {
        outline: 2px solid var(--color-interactive);
        outline-offset: -3px;
      }
    }
  }
}

.sc-table__group {
  position: relative;
}

.sc-table__group,
.sc-table__comment-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}

.counter-table__group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-table__err-msg {
  position: absolute;
  padding: 0 $space-xs;
  font-size: $default-paragraph-size;
  line-height: 1.4;
  text-align: left;
  background-color: var(--color-warn);
  color: var(--color-text);
  transition: transform 200ms ease-in;  
}

[data-radio-cell] {
  overflow: hidden;
  .sc-table__err-msg {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;

    &[aria-hidden=false] {
      transform: translateY(0);
    }

    &[aria-hidden=true] {
      transform: translateY(-1.75rem);
    }
  }
}

.sc-table__comment-wrapper {
  .sc-table__err-msg {
    
    bottom: 2px;
    left: 2px;
    margin: 0;
    border-radius: 0 0 $radius-xs $radius-xs;
    width: calc(100% - 4px);
    transition: transform 200ms ease-in;

    &[aria-hidden=false] {
      transform: translateY(0);
    }

    &[aria-hidden=true] {
      transform: translateY(1.75rem);
    }
  }  
}

.control__container {
  display: flex;
  flex-direction: column;

  @include mq.mq($from:md) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $space-lg;
  }
}

.control__btn {
  margin: $space-xs;
  border-width: 3px;
  border-style: solid;
  border-radius: $radius-xxl;
  padding: $space-xs $space-md;
  height: 3rem;
  line-height: 1.3;
  font-size: $default-paragraph-size;
  font-weight: bold;
}

.control__btn--clear {
  @include focus-indicator(true, true, true);

  border: 3px solid var(--color-warn--bright);
  background-color: var(--color-warn--bright);
  color: var(--color-bg);
  text-align: center;
  text-decoration: none;
}

.control__btn--generate {
  @include focus-indicator(true, true, false, true);

  border-color: var(--color-interactive);
  background-color: var(--color-interactive);
  color: var(--color-bg);
}

.modal {
  position: fixed;
  top: $space-xl;
  left: 50%;
  visibility: hidden;
  border: 2px solid var(--color-inactive);
  padding: $space-md $space-sm;
  border-radius: $radius-lg;
  height: 94vh;
  width: calc(100% - 4rem);
  max-width: 70rem;
  background: var(--color-bg);
  box-shadow: 4px 4px 15px -4px rgba(133,133,133,0.8);
  z-index: 11;
  transform: translate(-50%, 75%);

  &:focus {
    &::before {
      content: "";
      position: absolute;
      inset: -6px;
      border: 3px solid var(--color-interactive);
      border-radius: $radius-xl;
      z-index: 9;
      pointer-events: none;
    }
  }

  p {
    font-size: $default-paragraph-size;
    &:last-of-type {
      margin-bottom: $space-lg;
    }
  }

  h1 {
    padding-bottom: $space-lg;
    font-size: 3rem;
  }

  &[data-displayed=true] {
    visibility: visible;
    transform: translate(-50%, 0);
    opacity: 1;
    transition: visibility 0ms ease-in, opacity 300ms ease-in, transform 300ms ease-in;
  }

  [data-displayed=false] {
    visibility: hidden;
    transform: translate(-50%, 75%);
    opacity: 0;
    transition: visibility 300ms ease-in, opacity 300ms ease-in, transform 300ms ease-in;
  }
}

.modal__inner {
  margin-top: $space-xxl;
  height: calc(90vh - 2.5rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.modal__close-btn {
  border: 2px solid var(--color-warn--bright);
  background-color: var(--color-warn--bright);
  transition: background-color 200ms ease-in, color 200ms ease-in;
}

.modal__close-btn--top {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 2px;
  top: .75rem;
  right: 2.25rem;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: $radius-pill;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 4px;
    height: calc(100% - 4px);
    background-color: var(--color-bg);
    transition: background-color 200ms ease-in;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  &:focus-visible {
    background-color: var(--color-bg);

    &::before,
    &::after {
      background-color: var(--color-warn--bright);
    }
  }
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
}

.modal__close-btn--bottom {
  @include focus-indicator(true, false, true, false);

  margin: 0 $space-xs $space-xs 0;
  border-radius: $radius-sm;
  padding: $space-xxs $space-md;
  font-size: $small-paragraph-size;
  font-weight: bold;
  color: var(--color-bg);

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.modal__text-section {
  font-size: $default-paragraph-size;
}

[class^="modal__section-wrapper"] {
  margin-bottom: $space-lg;
  border: 1px solid var(--color-inactive);
  border-radius: $radius-sm;
  padding: $space-sm $space-xs;
}

[class^="modal__section-wrapper"] div:first-of-type {
  display: flex;
  justify-content: flex-end;
}

.modal__text-section ul {
  margin: $space-xs $space-lg;
}

.modal__text-section {

  table {
    border-collapse: collapse;

    td {
      border: 1px solid var(--color-text);
      padding: $space-xs;
      text-align: left;
    }
  }
}


.modal__copy-btn {
  position: relative;
  margin-bottom: $space-sm;
  border: 2px solid var(--color-interactive);
  border-radius: $radius-sm;
  padding: $space-xxs $space-sm;
  font-size: $medium-paragraph-size;
  color: var(--color-bg);
  background-color: var(--color-interactive);
  transition: background-color 150ms ease-in, color 150ms ease-in;

  &::before {
    content: "";
    position: absolute;
    inset: -6px;
    border: 2px solid transparent;
    border-radius: $radius-md;
    transition: border-color 200ms ease-in;
  }

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  &:focus-visible {
    &::before {
      border-color: var(--color-interactive);
    }
  }

  &:active {
    background-color: var(--color-bg);
    color: var(--color-interactive);
  }
}

.wcag-toggle__fieldset {
  margin-bottom: $space-xxxl;
  border: 1px solid var(--color-text);
  border-radius: $radius-sm;
  padding: $space-sm;
  width: auto;
  background-color: var(--color-bg--light);
}

.wcag-toggle__legend {
  font-size: $small-paragraph-size;
  font-weight: bold;
  background: none;
}

.wcag-toggle__btn {
  position: relative;
  border: 2px solid var(--color-interactive);
  border-radius: $radius-sm;
  padding: $space-xxs $space-md;
  font-size: $default-paragraph-size;
  font-weight: 600;
  color: var(--color-interactive);
  background-color: var(--color-bg--light);

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border: 2px solid transparent;
    border-radius: $radius-lg;
    transition: border-color 250ms ease-in-out;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-interactive);
    color: var(--color-bg);
  }

  &:focus-visible {
    &::before {
      border-color: var(--color-interactive);
    }
  }

  &[aria-pressed="true"] {
    border: none;
    background-color: var(--color-bg);
    color: var(--color-inactive);

    [data-theme="dark"] & {
      color: #959595;
    }
  
    @media (prefers-color-scheme: dark) {
      color: #959595;
    }

    &::before {
      display: none;
    }

    &:focus-visible {
      background-color: var(--color-inactive);
      color: var(--color-bg);

      [data-theme="dark"] & {
        background-color: #959595;
      }
    
      @media (prefers-color-scheme: dark) {
        background-color: #959595;
      }
    }
  }
}

.wcag-toggle__btn[aria-pressed="false"] {
  span {
   display: none;
  }
}

[data-hide="21"] {
  [data-tool="21"] & {
    display: none;
  }
}

[data-hide="22"] {
  [data-tool="22"] & {
    display: none;
  }
}