@use '../vendors/mq';

.cms {
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  
  iframe[src*="youtube.com"],
  iframe[src*="www.youtube-nocookie.com"],
  iframe[src*="codepen.io"] {
    display: block;
    margin: $space-rel-xxxl 0;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 80rem;
  }

  iframe[src*="youtube.com"],
  iframe[src*="www.youtube-nocookie.com"] {
    height: auto;
  }
 
  picture {
    display: block;
    width: 100%;

    img {
      border: 2px solid var(--v2--color-border--mid);
      border-radius: $radius-sm;
      max-width: 100%;
      height: auto;
    }
  }
    
  picture,
  img {
    margin-bottom: $space-rel-xxxl;
  }

  ol.decimal { 
    list-style-type: decimal;
  }

  ol.upper-alpha { 
    list-style-type: upper-alpha;
  }

  ol.lower-alpha { 
    list-style-type: lower-alpha; 
  }

  ol.lower-roman { 
    list-style-type: lower-roman;
  }

  ol.upper-roman { 
    list-style-type: upper-roman;
  }

  .multilevel {
    margin-left: 0;

    ol {
      counter-reset: items;
      list-style: none;
      margin-bottom: 0;
    }

    li {
      counter-increment: items;
      padding-left: $space-rel-sm;
      list-style: none;
      margin-bottom: 0;
    }
    
    li::before {
       content: counters(items, ".") ". ";
    }

    &.multilevel {
      ol,
      ol> * {
        margin-bottom: $space-rel-xxs;
      }
    }
  }

  table {
    display: block;
    border-collapse: collapse;
    margin-bottom: $space-rel-xxxl;
    overflow-x: auto;
    table-layout: fixed;

    th,
    thead td {
      white-space: nowrap;
    }

    td {
      word-break: keep-all;
      word-wrap: break-word;      
    }
  }

  th[scope="row"] {
    text-align: left;
  }

  th,
  td {
    border: 1px solid var(--v2--color-secondary);
    padding: $space-rel-sm;
  }

  caption {
    text-align: left;
    font-weight: 600;
    padding-bottom: $space-rel-xxs;
  }

  cite {
    display: block;
    margin-top: $space-rel-xs;
    font-size: $medium-paragraph-size;
  }

  dl {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: $space-rel-xxl;

    > dt {
      padding-right: $space-rel-md;
      font-weight: 600;
    }

    > dd {
      flex-basis: 70%;
    }
  }

  .cms__anchor-wrapper {
    display: flex;

    h2 {
      display: inline;
      max-inline-size: calc(100% - 2.875rem);
    }

    @include mq.mq($from:xl) {
      flex-direction: row-reverse;
      justify-content: flex-end;

      .cms__anchor {
        margin-left: -2.875rem;
      }
    }
  }

  .cms__anchor {
    margin-top: 1.25em;
    height: 2.75rem;
    width: 2.75rem;
    transition: background-color 300ms ease;
    
    svg {
      fill: var(--v2--color-interactive);
      transform: rotate(-45deg);
      transition: fill 300ms ease;
    }

    &:focus-visible {
      outline: 2px solid var(--v2--color-interactive);

      @media (forced-colors: active) {
        outline-offset: -2px;
      }
    }

    &:hover,
    &:focus-visible {
      background-color: var(--v2--color-interactive);
      svg {
        fill: var(--v2--color-bg);

        @media (forced-colors: active) {
          fill: LinkText;
        }
      }
    }

    @include mq.mq($from:md) {
      margin-top: 1em;
    }
  }

  details {
    margin-bottom: $space-abs-xxxxl;
    border: 2px solid var(--v2--color-interactive);
    border-radius: $radius-md;
    padding: 0 $space-rel-xs;
    max-width: 80rem;
    background-color: var(--v2--color-bg--light);
  }

  summary {
    position: relative;
    left: (-$space-abs-sm);
    border-radius: $radius-sm;
    padding: $space-abs-sm $space-rel-md $space-abs-xs;
    width: calc(100% + $space-abs-lg);
    color: var(--v2--color-interactive);

    &:hover,
    &:focus {
      color: var(--v2--color-bg);
      background-color: var(--v2--color-interactive);
    }

    &:focus-visible {
      outline: 2px solid var(--v2--color-interactive);
      outline-offset: 3px;
    }

    @include mq.mq($from:lg) {
      padding-top: $space-abs-xs;
    }
  }

  details[open] summary {
    margin-bottom: $space-rel-md;
    border-bottom: 2px solid var(--v2--color-interactive);
  }

  a {
    &:hover,
    &:focus {
      code {
        color: var(--v2--color-text);
      }
    }
  }
}