@use '../vendors/mq';

.cms {
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  
  iframe[src*="youtube.com"],
  iframe[src*="www.youtube-nocookie.com"],
  iframe[src*="codepen.io"] {
    display: block;
    margin: $space-xxxl 0;
    aspect-ratio: 16 / 9;
    max-width: 80rem;
  }

  iframe[src*="youtube.com"],
  iframe[src*="www.youtube-nocookie.com"] {
    height: auto;
  }

  .code__label {
    display: block;
    padding-top: 0;
    align-self: center;
  }
  
  code[class][class*="language-"],
  pre[class][class*="language-"] {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    margin-top: 0;
  }
  
  pre[class][class*="language-"] {
    margin-bottom:  $space-xxl;
    padding: $space-sm;
    width: 100%;
    max-width: 80rem;
    font-size: $default-paragraph-size;
    font-size: inherit;
  
    @media (prefers-color-scheme: dark) {
      border: 2px solid var(--color-inactive);
    }

    [data-theme="dark"] & {
      border: 2px solid var(--color-inactive);
    }
  
    @include mq.mq($from:xs) {
      border: 2px solid var(--color-inactive);
    }
  
    &:last-of-type {
      margin-bottom: $space-xxxl;
    }

    &.code--with-copy {
      border-top: none;
      border-radius: 0 0 $radius-lg $radius-lg;
    }
  }

  .code__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 $space-xs;
    border: 1px solid var(--color-inactive);
    background-color: var(--color-bg);
    width: 100%;
    max-width: 80rem;

    @media (prefers-color-scheme: dark) {
      border: 2px solid var(--color-inactive);
    }

    [data-theme="dark"] & {
      border: 2px solid var(--color-inactive);
    }

    &:not([data-theme="dark"] &) {
      border-width: 1px;
    }
  
    @include mq.mq($from:xs) {
      border: 2px solid var(--color-inactive);
    }

    border-radius: $radius-lg $radius-lg 0 0;
    border-bottom: 0;
  }

  .code__fake-btns {
    position: relative;
    width: 3.5rem;
    padding-top: $space-xs;
    display: flex;
    align-items: flex-start;
  }

  .code__fake-btn {
    display: inline-block;
    margin-top: 2px;
    height: 14px;
    width: 14px;
    border: 1px solid #9b9b00;
    border-radius: $radius-pill;
    background-color: yellow;
    margin-left: 1.75rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0.625rem;
      height: 14px;
      width: 14px;
      border-radius: $radius-pill;
    }

    &::before {
      left: .5rem;
      border-color:  #860000;
      background-color: red;
    }

    &::after {
      left: 3rem;
      border-color: #018c01;
      background-color: #02cb02;
    }
  }

  .code__copy-btn {
    @include focus-indicator(true);

    margin: $space-xs;
    border: 2px solid var(--color-interactive);
    border-radius: $radius-sm;
    padding: 0 $space-xs;
    font-size: $default-paragraph-size;
    background-color: var(--color-bg);
    color: var(--color-interactive);
  }

  picture {
    display: block;
    width: 100%;

    > img {
      border: 2px solid var(--color-inactive);
      border-radius: $radius-sm;
      max-width: 100%;
      height: auto;
    }
  }
  
  picture,
  img:not([class]),
  pre {
    margin-bottom: $space-xxxl;
  }

  ul p,
  ul li p {
    margin-bottom: $space-sm;
  }

  li {
    p {
      margin-bottom: $space-xxs;
    }
  }

  ol:not(.cms__toc > ol) {
    margin: 0 0 $space-xxxl calc($space-xxl + 3px);
  }

  ul {
    margin: 0 0 $space-xxxl $space-lg;
  }

  ul > li > ul,
  ol > li > ol {
    margin: 0 0 0 $space-md;
  }

  ul > li > ul > li > ul,
  ol > li > ol > li > ol {
    margin: 0 0 0 $space-md;
  }

  ol > li > ul {
    margin-bottom: $space-xxs;
  }

  ol.decimal { 
    list-style-type: decimal;
  }

  ol.upper-alpha { 
    list-style-type: upper-alpha;
  }

  ol.lower-alpha { 
    list-style-type: lower-alpha; 
  }

  ol.lower-roman { 
    list-style-type: lower-roman;
  }

  ol.upper-roman { 
    list-style-type: upper-roman;
  }

  .multilevel {
    margin-left: 0;

    ol {
      counter-reset: items;
      list-style: none;
      margin-bottom: 0;
    }

    li {
      counter-increment: items;
      padding-left: $space-sm;
      list-style: none;
      margin-bottom: 0;
    }
    
    li::before {
       content: counters(items, ".") ". ";
    }

    &.multilevel {
      ol,
      ol> * {
        margin-bottom: $space-xxs;
      }
    }
  }

  p {
    margin-bottom: $space-md;

    @include mq.mq($from:md) {
      margin-bottom: $space-lg;
    }
  }

  table {
    display: block;
    border-collapse: collapse;
    margin-bottom: $space-xxxl;
    overflow-x: auto;
    table-layout: fixed;

    th,
    thead td {
      white-space: nowrap;
    }

    td {
      word-break: keep-all;
      word-wrap: break-word;      
    }
  }

  th,
  td {
    border: 1px solid var(--color-accent-2);
    padding: $space-sm;
  }

  caption {
    text-align: left;
    font-weight: 600;
    padding-bottom: $space-xxs;
  }

  blockquote:not(.twitter-tweet) {
    position: relative;
    margin: 0 $space-xs $space-xxl $space-xs;
    padding: $space-xs $space-xs $space-xs $space-lg;
    max-width: 50rem;
    background-color: var(--color-bg--light);
    font-size: 115%;
    font-style: italic;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 6px;
      background: var(--color-primary);
      background: linear-gradient(to top, var(--color-primary), var(--color-secondary));
    }

    & p {
      margin-bottom: 0;
    }
  }

  cite {
    display: block;
    margin-top: $space-xs;
    font-size: $medium-paragraph-size;
  }

  dl {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: $space-xxl;

    > dt {
      padding-right: $space-md;
      font-weight: 600;
    }

    > dd {
      flex-basis: 70%;
    }
  }

  kbd {
    margin: 0 2px;
    border: 2px solid var(--color-inactive);
    border-radius: 2px;
    padding: 1px 3px;
    font-size: 92.5%;
    font-weight: 600;
    box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.5);

    @media (prefers-color-scheme: dark) {
      border-color: var(--color-text);
      box-shadow: 3px 2px 0px 1px rgba(255,255,255,0.5);
    }

    [data-theme="dark"] & {
      border-color: var(--color-text);
      box-shadow: 3px 2px 0px 1px rgba(255,255,255,0.5);
    }
  }

  h2:not(.accordion):not(.cms__toc > h2) {
    display: inline-block;
    margin-bottom: 0;
  }

  .cms__anchor-wrapper {
    display: grid;
    grid-template-columns: minmax(auto, max-content) min-content;
    align-items: stretch;
    gap: 0.5rem;
    margin-bottom: $space-lg;

    @include mq.mq($from:lg) {
      margin-bottom: $space-xl;
    }
  }

  .cms__anchor {
    position: relative;
    bottom: 0;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    transform: translateY(50%);

    &::before {
      box-sizing: content-box;
      content: "";
      position: absolute;
      left: -2px;
      top: -2px;
      height: 2rem;
      width: 2rem;
      border: 2px solid transparent;
      border-radius: $radius-pill;
      background-color: var(--color-bg);
      transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
    }
    
    svg {
      fill: var(--color-interactive);
      transform: rotate(-45deg);
      bottom: 0;
      transition: fill 250ms ease-in-out;
    }

    &:hover,
    &:focus-visible {

      &::before {
        background-color: var(--color-interactive);
        border-color: var(--color-interactive);
      }

      svg {
        fill: var(--color-bg);
      }
    }
  }

  .callout__tip,
  .callout__info,
  .callout__warn {
    display: flex;
    width: auto;
    max-width: 60rem;
    border-radius: $radius-md;
    margin: $space-lg 0;
    color: var(--color-text);
  }

  .callout__tip {
    background-color: var(--color-tip);

    .no-js & {
      .callout__icon {
        border: 2px solid var(--color-tip);
        width: max-content;

        &::before {
          content: "Tip ";
          width: inherit;
        }
      }
    }
  }

  .callout__info {
    background-color: var(--color-info);

    .no-js & {
      .callout__icon {

        &::before {
          content: "Info ";
          width: inherit;
        }
      }
    }
  }

  .callout__warn {
    background-color: var(--color-warn);

    .no-js & {
      .callout__icon {

        &::before {
          content: "Warning ";
          width: inherit;
        }
      }
    }
  }

  .callout__icon {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--color-bg);
    border-radius: $radius-md 0 0 $radius-md;
    padding: $space-sm $space-lg;
    background: var(--color-secondary);
    color: var(--color-bg);
    
     svg {
      transform: scale(1.5);
    }

    @media (prefers-color-scheme: dark) {
      border-right: 1px solid var(--color-text);
      color: var(--color-text);
    }

    [data-theme="dark"] & {
      border-right: 1px solid var(--color-text);
      color: var(--color-text);
    }
  }

  .callout__text {
    padding: $space-sm;
  }

}