@use '../vendors/mq';

.cms {
  
  iframe[src*="youtube.com"],
  iframe[src*="codepen.io"] {
    display: block;
    margin: 0 auto $space-xxxl;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 60rem;
  }

  .code__label {
    display: block;
    padding-top: 0;
  }
  
  code[class][class*="language-"],
  pre[class][class*="language-"] {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  code:not(pre &) {
    background-color: var(--color-accent);
    padding: 0 2px;
  }
  
  pre[class][class*="language-"] {
    margin-bottom:  $space-xxl;
    padding: $space-sm;
    width: 100%;
    max-width: 65rem;
    font-size: $default-paragraph-size;
    font-size: inherit;
  
    @media (prefers-color-scheme: dark) {
      border: 2px solid var(--color-inactive);
    }

    [data-theme="dark"] & {
      border: 2px solid var(--color-inactive);
    }
  
    @include mq.mq($from:xs) {
      border: 2px solid var(--color-inactive);
    }
  
    &:last-of-type {
      margin-bottom: $space-xxxl;
    }
  }

  picture {
    display: block;
    width: 100%;

    > img {
      border: 2px solid var(--color-inactive);
      border-radius: $radius-sm;
      max-width: 100%;
      height: auto;
    }
  }
  
  picture,
  img:not([class]),
  pre {
    margin-bottom: $space-xxxl;
  }

  ul p,
  ul li p {
    margin-bottom: $space-sm;
  }

  ol {
    margin: 0 0 $space-xxxl calc($space-xxl + 3px);
  }

  ul {
    margin: 0 0 $space-xxxl $space-lg;
  }

  ul > li > ul,
  ol > li > ol {
    margin: 0 0 0 $space-md;
  }

  ul > li > ul > li > ul,
  ol > li > ol > li > ol {
    margin: 0 0 0 $space-md;
  }

  ol.decimal { 
    list-style-type: decimal;
  }

  ol.upper-alpha { 
    list-style-type: upper-alpha;
  }

  ol.lower-alpha { 
    list-style-type: lower-alpha; 
  }

  ol.lower-roman { 
    list-style-type: lower-roman;
  }

  ol.upper-roman { 
    list-style-type: upper-roman;
  }

  .multilevel {
    margin-left: 0;

    ol {
      counter-reset: items;
      list-style: none;
    }

    li {
      counter-increment: items;
      padding-left: $space-sm;
      list-style: none;
    }
    
    li::before {
       content: counters(items, ".") ". ";
    }
  }

  p {
    margin-bottom: $space-md;

    @include mq.mq($from:md) {
      margin-bottom: $space-lg;
    }
  }

  table {
    display: block;
    border-collapse: collapse;
    margin-bottom: $space-xxxl;
    overflow-x: auto;
  }

  th,
  td {
    border: 1px solid var(--color-accent-2);
    padding: $space-sm;
  }

  caption {
    text-align: left;
    font-weight: 600;
    padding-bottom: $space-xxs;
  }

  blockquote:not(.twitter-tweet) {
    position: relative;
    margin: 0 $space-xs $space-xxl $space-xs;
    padding: $space-xs $space-xs $space-xs $space-lg;
    max-width: 50rem;
    background-color: var(--color-bg--light);
    font-size: 115%;
    font-style: italic;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 6px;
      background: var(--color-primary);
      background: linear-gradient(to top, var(--color-primary), var(--color-secondary));
    }
  }

  dl {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: $space-xxl;

    > dt {
      padding-right: $space-md;
      font-weight: 600;
    }

    > dd {
      flex-basis: 70%;
    }
  }

  kbd {
    margin: 0 2px;
    border: 2px solid var(--color-inactive);
    border-radius: 2px;
    padding: 1px 3px;
    font-size: 92.5%;
    font-weight: 600;
    box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.5);

    @media (prefers-color-scheme: dark) {
      border-color: var(--color-text);
      box-shadow: 3px 2px 0px 1px rgba(255,255,255,0.5);
    }

    [data-theme="dark"] & {
      border-color: var(--color-text);
      box-shadow: 3px 2px 0px 1px rgba(255,255,255,0.5);
    }
  }
}
