.supporters__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: $space-rel-lg;

  img[src] {
    margin-bottom: 0;
    height: 10rem;
    max-height: 10rem;
    width: auto;
  }
}

p:has(+ .supporters__wrapper) {
  margin-bottom: $space-abs-xxxxl;
}

.supporters__link {
  &:hover,
  &:focus {
    img {
      outline: 3px solid var(--v2--color-interactive);
      outline-offset: 2px;
    }
  }
}

.supporters__link {
  background-color: #F4F4F4;
}

.aaa-video-iframe {
  display: flex;
  justify-content: center;
  margin: $space-abs-lg 0;
}