@use '../vendors/mq';


.faqs__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .accordion__panel:last-of-type {
    margin-bottom: 0;
  }
}

.faqs__toggle-container {

  .has-js & {
    display: flex;
    justify-content: flex-end;
    gap: $space-abs-md;
    margin-bottom: $space-abs-xs;
    width: 100%;
    max-width: 60rem;
  }
}