@use '../vendors/mq';

.glossary__item-wrapper {
  position: relative;
  padding: $space-abs-md $space-abs-lg;
  border-bottom: 2px solid var(--v2--color-secondary);
  border-right: 2px solid transparent;

  &:first-of-type {
    border-top: 2px solid var(--v2--color-secondary);
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid transparent;
    height: 100%;
  }

  &:focus-within {
    background-color: var(--v2--color-bg--light);
    border-right-color: var(--v2--color-secondary);

    &::before {
      border-color: var(--v2--color-secondary);
    }
  }

  @include mq.mq($from:md) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }  
}

.glossary__term {
  hyphens: auto;

  @include mq.mq($from:md) {
    width: 20%;
  }
}

.glossary__definition {
  @include mq.mq($from:md) {
    padding-left: $space-abs-lg;
    width: 80%;
  }
}

