@use '../vendors/mq';

.glossary__intro {
  margin-bottom: $space-xxxl;
}

.glossary__list {
  padding-top: $space-lg;
}

.glossary__item-wrapper {
  position: relative;
  padding: $space-md $space-sm;
  border-bottom: 2px solid var(--color-accent);
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 4px solid transparent;
    height: 0;
  }

  &:focus-within {
    background-color: var(--color-accent);

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-inactive);
    }
  
    [data-theme="dark"] & {
      background-color: var(--color-inactive);
    }

    [data-theme="light"] & {
      background-color: var(--color-accent);
    }

    &::before {
      height: 100%;
      border-color: var(--color-interactive);

      :not([data-theme="dark"]) & {
        top: -2px;
        height: calc(100% + 4px);
      }

      @media (prefers-color-scheme: dark) {
        top: 0;
        height: 100%;
      }
    
      [data-theme="dark"] & {
        top: 0;
        height: 100%;
      }
    }

    &:first-of-type,
    &:last-of-type {
      &::before {
        top: 0;
        height: 100%;

        :not([data-theme="dark"]) & {
          height: calc(100% + 2px);
        }

        @media (prefers-color-scheme: dark) {
          height: 100%;
        }
      
        [data-theme="dark"] & {
          height: 100%;
        }
      }
    }
  }

  &:last-of-type {
    border-bottom: none;
  }

  @include mq.mq($from:md) {
    display: flex;
    flex-wrap:wrap;
    width:100%;
  }  
}

.glossary__term {
  overflow-wrap: break-word;
  hyphens: auto;
  font-weight: bold;
  outline: 3px solid transparent;

  @include mq.mq($from:md) {
    width: 20%;
  }
}

.glossary__definition {
  @include mq.mq($from:md) {
    padding-left: $space-lg;
    width: 80%;
  }
}

