@use '../vendors/mq';

.glossary__intro {
  margin-bottom: $space-xxxl;
}

.glossary__list {
  padding-top: $space-lg;
}

.glossary__item-wrapper {
  position: relative;
  padding-bottom: $space-xl;

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: $space-sm;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--color-accent);

    @media (forced-colors: active) {
      background-color: CanvasText;
    }
  }

  @include mq.mq($from:md) {
    display: flex;
    flex-wrap:wrap;
    width:100%;
  }  
}

.glossary__term {
  overflow-wrap: break-word;
  hyphens: auto;
  font-weight: bold;

  @include mq.mq($from:md) {
    width: 20%;
  }
}

.glossary__definition {
  @include mq.mq($from:md) {
    padding-left: $space-lg;
    width: 80%;
  }
}

