@use '../vendors/mq';

.guide__info-panel {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: $space-rel-xxxl;
  padding: $space-rel-sm;

  & > .tags {
    padding-top: 0;
    justify-content: center;
  }
}

.guide__label {
  padding-bottom: $space-rel-xs;
}