@use '../vendors/mq';

.skip-tags:not(:focus):not(:active) {
  @extend %visually-hidden;
}

.skip-tags {
  @include focus-indicator;
  @extend %underline;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: $space-rel-xxs $space-rel-xs;

  &:focus {
    top: 0;
  }
}

.skip-tags {
  .has-js & {
    display: none;
  }
}