.sitemap__text {
  margin-bottom: $space-rel-lg;
}

.sitemap__list,
.sitemap__list--nested {

  & > li {
    &::marker {
      color: var(--color-accent-2);
    }
  }
}

.sitemap__list {
  margin-left: $space-rel-lg;
}

.sitemap__list--nested {
  margin: $space-rel-xs 0 $space-rel-xs $space-rel-lg;
}