@use '../vendors/mq';

.accordion {
  margin-bottom: 0;
  width: 100%;

  &[data-open="true"] {
    + .accordion__panel {
      grid-template-rows: 1fr;
      visibility: visible;
      transition: grid-template-rows 400ms ease, visibility 0ms ease 0ms;
    }
  }

  &[data-open="false"] {
    + .accordion__panel {
      grid-template-rows: 0fr;
      visibility: hidden;
      transition: grid-template-rows 400ms ease, visibility 0ms ease 400ms;
    }
  }
}

.accordion,
.accordion + .accordion__panel {
  width: 100%;
  max-width: 60rem;
}

.accordion--large,
.accordion--large + .accordion__panel {
  max-width: 70rem;
}

.accordion--full,
.accordion--full + .accordion__panel--full {
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
}

.accordion--single {
  .accordion__btn {
    border-radius: $radius-md;
  }
}

.accordion--single {
  + .accordion__panel {
    width: calc(100% - $space-rel-md);
    margin-bottom: $space-abs-xxl;
  }
}

.accordion--multiple {
  + .accordion__panel {
    margin: 0;
  }
}

.accordion__btn {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid var(--v2--color-interactive);
  padding: 0 $space-abs-xs 0 $space-rel-xxl;
  width: 100%;
  text-align: left;
  background-color: var(--v2--color-bg);
  color: var(--v2--color-interactive);
  transition: background-color 300ms ease, color 300ms ease;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: var(--v2--color-interactive);
    transition: background 300ms ease, transform 300ms ease, opacity 250ms ease;
    transform-origin: top;

    @media (forced-colors: active) {
      background-color: ButtonText;
    }
  }

  &::before {
    top: 50%;
    left: 18px;
    width: $space-rel-xxs;
    height: 1.125rem;
    transform: translateY(-50%);
  }

  &::after {
    top: 50%;
    left: 11px;
    width: 1.125rem;
    height: $space-rel-xxs;
    transform: translateY(-50%);
  }

  &[aria-expanded="true"] {
    &::before {
      transform: rotate(90deg) translateY(-50%);
    }

    &::after {
      opacity: 0;
      transform: rotate(180deg) translateY(-50%);
    }
  }

  &:focus-visible,
  &:hover {
    background-color: var(--v2--color-interactive);
    color: var(--v2--color-bg);

    &::before,
    &::after {
      background-color: var(--v2--color-bg);
      color: var(--v2--color-interactive);
    }
  }

  &:focus-visible {
    outline: 2px solid var(--v2--color-interactive);
  }
}
 

.accordion__panel {
  position: relative;
  display: grid;
  margin: 0 $space-rel-xxs;
  background-color: var(--v2--color-bg--light);

  > div {
    grid-row: 1 / span 2;
    padding: 0 $space-rel-xs;
    overflow: hidden;

    &::before {
      content: "";
      position: relative;
      top: 0;
      display: block;
      width: 100%;
      height: $space-rel-md;
    }
  }

  &[data-last] {
    margin-bottom: $space-rel-xxxl;
  }

  @media (prefers-reduced-motion) {
    transition: grid-template-rows 0ms, visibility 0ms ease;
  }
}