@use '../vendors/mq';

.author-bio {
  @include mq.mq($from:xxl) {
    &:has(.author-bio--upper img) {
      .author-bio__meta {
        margin-top: 7.5rem;
      }
    }
  }
}

.author-bio--upper {
  display: flex;
  flex-direction: column;

  @include mq.mq($from:xxl) {
    position: relative;
    flex-direction: row;
  }
}

.author-bio__img {
  align-self: center;
  order: 1;
  margin: $space-abs-xs 0 $space-abs-xxxl;
  border: 6px solid var(--v2--color-secondary);
  border-radius: $radius-pill;
  height: 8rem;
  width: 8rem;

  @include mq.mq($from:md) {
    height: 10rem;
    min-width: 10rem;
  }

  @include mq.mq($from:xxl) {
    position: absolute;
    top: 0rem;
    left: 12.5rem;
    transform: translateX(-50%);
  }
}

.author-bio__title {
  order: 2;

  @include mq.mq($from:xxl) {
    margin-left: calc(25rem + $space-abs-xl);

    [data-pref--f-size] & {
      margin-left: calc(27.5rem + $space-abs-xl);
    }
  }
}

.author-bio--lower {
  @include mq.mq($from:xxl) {
    display: flex;
    gap: $space-abs-xl;
  }
}

.author-bio__intro {
  @include mq.mq($from:xxl) {
    order: 2;
  }
}

.author-bio__meta {
  padding-top: $space-abs-xxl;

  @include mq.mq($from:xxl) {
    order: 1;
    padding-top: 0;
    min-width: 25rem;

    [data-pref--f-size] & {
      min-width: 27.5rem;
    }
  }
}
.author-bio__items-wrapper {
  &:not(:last-of-type) {
    padding-bottom: $space-abs-sm;
  }
}

.author-bio__items-wrapper:has(svg) {
  display: flex;
  gap: $space-abs-md;
}

.author-bio__items-wrapper:not(:has(svg)) {
  @include mq.mq($from:xxl) {
    flex-direction: column;
  }
}

.author-bio__term {
  font-weight: 700;

  > svg  {
    height: 1.75rem;
    width: 1.75rem;

    @include mq.mq($from:sm) {
      margin-top: $space-abs-xs;
    }
      
    > path {
      fill: var(--v2--color-tertiary);
    }
  }

  @include mq.mq($from:sm) {
    margin-right: $space-abs-xs;
  }
}

.author-bio__link  {
  display: inline-block;
  min-height: 2.75rem;
}
