@use '../vendors/mq';

.author-bio {

}

.author-bio__top {
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    align-self: center;
    border: 6px solid var(--v2--color-secondary);
    border-radius: $radius-pill;
    height: calc(8rem + $space-abs-md);
    width: calc(8rem + $space-abs-md);

    @include mq.mq($from:md) {
      height: calc(10rem + $space-abs-md);
      width: calc(10rem + $space-abs-md);
    }
  }
}

.author-bio--with-image {
}



.author-bio__img {
  align-self: center;
  order: 1;
  border-radius: $radius-pill;
  margin: $space-abs-xs 0 $space-abs-lg;
  height: 8rem;
  width: 8rem;

  @include mq.mq($from:md) {
    height: 10rem;
    width: 10rem;
    right: $space-rel-xl;
    transform: translateX(0);
  }
}

.author-bio__title {
  order: 2;
}

.author-bio__meta {
  
}

.author-bio__items-wrapper {
  text-align: center;
  @include mq.mq($from:sm) {
    display: flex;
    align-self: center;
  }

  &:not(:last-of-type) {
    margin-bottom: $space-abs-xl;

    @include mq.mq($from:sm) {
      margin-bottom: $space-abs-xs;
    }
  }
}

.author-bio__term {

  > svg  {
    margin-top: $space-abs-xxxs;
    height: 1.75rem;
    width: 1.75rem;
      
    > path {
      fill: var(--v2--color-tertiary);
    }
  }

  @include mq.mq($from:sm) {
    margin-right: $space-rel-md;
  }
}
