.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 300ms ease-in, background-color 300ms ease-in, border-color 300ms ease-in;
  
  &:focus-visible {
    outline: 2px solid var(--v2--color-interactive);
  }
}

.btn--default,
.btn--on-primary {
  border-radius: $radius-md;
  padding: 0 $space-abs-lg;
   
  &:focus-visible {
    outline: 2px solid var(--v2--color-interactive);
  }
}

.btn--default {
  position: relative;
  gap: $space-abs-sm;
  border: 2px solid var(--v2--color-interactive);
  background-color: var(--v2--color-interactive);
  color: var(--v2--color-bg);

  &[aria-pressed] {
    gap: $space-abs-sm;

    span {
      position: relative;
      border: 2px solid var(--v2--color-bg);
      border-radius: $radius-pill;
      height: var(--v2--current-base-font-size);
      width: var(--v2--current-base-font-size);
      transition: border-color 300ms ease-in;

      &::before {
        content: "";
        position: absolute;
        transition: border-color 300ms ease-in;
      }
    }
  }

  &[aria-pressed="true"] {
    span::before {
      top: calc(50% - .0625rem);
      right: 50%;
      height: .8125rem;
      width: .35rem;
      border-bottom: 3px solid var(--v2--color-bg);
      border-right: 3px solid var(--v2--color-bg);
      transform: rotate(45deg) translate(-50%, -50%);
    }
  }

  &[aria-pressed="false"] {
    span::before,
    span::after {
      top: 50%;
      left: 50%;
      height: 0; 
      width: .75rem;
      border-bottom: solid 3px var(--v2--color-bg);
      transform-origin: center;
    }

    span::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    span::after {
      content: "";
      position: absolute;
      transition: border-color 300ms ease-in;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &[aria-pressed="mixed"] {
    span::before {
      top: 50%;
      left: 50%;
      width: .75rem;
      border-bottom: 3px solid var(--v2--color-bg);   
      transform: translate(-50%, -50%);  
    }
  }

  &:focus-visible,
  &:hover {
    background-color: var(--v2--color-bg);
    color: var(--v2--color-interactive);

    span {
      border-color: var(--v2--color-interactive);

      &::before,
      &::after {
        color: var(--v2--color-interactive);
        border-color: var(--v2--color-interactive);
      }
    }
  }
}

.btn--on-primary {
  @include dark-theme(('border-color': var(--v2--color-text-alt)));

  border: 2px solid var(--v2--color-bg);
  background-color: var(--v2--color-bg);
  color: var(--v2--color-interactive);

  &:focus-visible,
  &:hover {
    background-color: var(--v2--color-interactive);
    color: var(--v2--color-bg);
  }

  &:focus-visible {
    @include dark-theme(('outline-color': var(--v2--color-text-alt)));
  }
}

