.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 300ms ease-in, background-color 300ms ease-in, border-color 300ms ease-in;
  
  &:focus-visible {
    outline: 2px solid var(--v2--color-interactive);
  }
}

.btn--default,
.btn--on-primary {
  border-radius: $radius-md;
  padding: 0 $space-abs-lg;
   
  &:focus-visible {
    outline: 2px solid var(--v2--color-interactive);
  }
}

.btn--default {
  gap: $space-abs-sm;
  border: 2px solid var(--v2--color-interactive);
  background-color: var(--v2--color-interactive);
  color: var(--v2--color-bg);

  &[aria-pressed] {
    gap: $space-abs-sm;

    span {
      border: 2px solid var(--v2--color-bg);
      border-radius: $radius-pill;
      height: var(--v2--current-base-font-size);
      width: var(--v2--current-base-font-size);
      transition: border-color 300ms ease-in;

      &::before {
        content: "";
        transition: border-color 300ms ease-in color 300ms ease-in;
        color: inherit;
      }
    }
  }

  &[aria-pressed="true"] {
    span::before {
    content: "\2713";
    font-size: calc(var(--v2--current-small-font-size) - .125rem);
    font-weight: 300;
    }
  }

  &[aria-pressed="false"] {
    span::before {
      content: "\00d7";
    }
  }

  &[aria-pressed="mixed"] {
    span::before {
      content: "";
     
    }
  }

  &:focus-visible,
  &:hover {
    background-color: var(--v2--color-bg);
    color: var(--v2--color-interactive);

    span {
      border-color: var(--v2--color-interactive);

      &::before {
        color: var(--v2--color-interactive);
      }
    }
  }
}

.btn--on-primary {
  @include dark-theme(('border-color': var(--v2--color-text-alt)));

  border: 2px solid var(--v2--color-bg);
  background-color: var(--v2--color-bg);
  color: var(--v2--color-interactive);

  &:focus-visible,
  &:hover {
    background-color: var(--v2--color-interactive);
    color: var(--v2--color-bg);
  }

  &:focus-visible {
    @include dark-theme(('outline-color': var(--v2--color-text-alt)));
  }
}

