@use '../vendors/mq';

.callout__tip,
.callout__info,
.callout__warn {
  display: flex;
  width: auto;
  max-width: 57.5rem;
  border-radius: $radius-md;
  margin: $space-abs-xxxxl 0;
  padding: $space-abs-xxxl $space-abs-md $space-abs-md;
  color: var(--v2--color-text);
  background-color: var(--v2--color-bg--light);
  box-shadow: var(--v2--shadow);

  @include mq.mq($from:md) {
    margin: $space-abs-xxxxl $space-abs-md;
  }

  @include mq.mq($from:lg) {
    margin: $space-abs-xxxxl 0;
    border-radius: $radius-xl;
    padding: $space-abs-xxxl $space-abs-lg $space-abs-lg;
  }
}

.callout__tip {
  border-bottom: 6px solid var(--v2--color-tip);

  svg {
    background-color: var(--v2--color-tip);
  }
}

.callout__info {
  border-bottom: 6px solid var(--v2--color-info);
  
  svg {
    background-color: var(--v2--color-info);
  }
}

.callout__warn {
  border-bottom: 6px solid var(--v2--color-warn);

  svg {
    fill: var(--v2--color-warn);
  }
}

.callout__icon {
  position: relative;
  
  svg {
    position: absolute;
    top: -2.625rem;
    left: -.375rem;
    box-sizing: content-box;
    border-radius: $radius-pill;
    transform: scale(1.5);
    z-index: 2;
    
    @include mq.mq($from:md) {
      left: -1.375rem;
    }
  }
}