@use '../vendors/mq';

.callout__tip,
.callout__info,
.callout__warn {
  display: flex;
  width: auto;
  max-width: 55rem;
  border-radius: $radius-md;
  margin: $space-rel-lg 0 $space-rel-xl $space-abs-md;
  color: var(--v2--color-text);
  background-color: var(--v2--color-bg--light);
  box-shadow: var(--v2--shadow);
}

.callout__tip {
  border-bottom: 6px solid var(--v2--color-tip);

  svg {
    background-color: var(--v2--color-tip);
  }
}

.callout__info {
  border-bottom: 6px solid var(--v2--color-info);
  
  svg {
    background-color: var(--v2--color-info);
  }
}

.callout__warn {
  border-bottom: 6px solid var(--v2--color-warn);

  svg {
    fill: var(--v2--color-warn);
  }
}

.callout__icon {
  position: relative;
  
  svg {
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    box-sizing: content-box;
    border-radius: $radius-pill;
    color: var(--color-bg);
    transform: scale(1.5);
    z-index: 2;
  }
}

.callout__text {
  padding: $space-rel-sm;
}