@use '../vendors/mq';

.cards {
  list-style: none;
}

.card__item {
  border: 2px solid var(--color-accent);
  border-radius: $radius-md;
  padding: $space-sm;

  &:not(:last-of-type) {
    margin-bottom: $space-lg;
  }

  @include mq.mq($from:md) {
    border-width: 3px;
    border-radius: $radius-lg;
    padding: $space-xl $space-lg;
  }
}

.card__title {
  margin-bottom: $space-md;
}

.card__summary {
  margin-bottom: $space-lg;
}

.card__link {
  margin: -3px;
  padding: 3px;
  color: var(--color-interactive);

  &:focus,
  &:hover {
    background-color: var(--color-interactive);
    color: var($--color-bg)
  }

  @include mq.mq($from:lg) {
    font-size: $default-paragraph-size * 1.3;
  }
}

.card__author-name {
  @extend %small-text;

  &::after {
    content: "|";
    padding-left: $space-xs;
    font-size: $default-paragraph-size; 
    font-weight: 800;
    color: var(--color-accent-2);
  }
}

.card__author-link {
  margin: -3px;
  padding: 3px;
  font-weight: 600;
  color: var(--color-interactive);

  &:focus,
  &:hover {
    background-color: var(--color-interactive);
    color: var($--color-bg)
  }
}

.card__date {
  @extend %small-text;
}