@use '../vendors/mq';

.code__wrapper {
  position: relative;
  margin: $space-abs-xxxxl 0;
  border: 1px solid var(--v2--color-border--light);
  border-radius: $radius-md;
  width: 100%;
  font-size: var(--v2--current-small-font-size);
  background: var(--v2--color-bg--light);
  box-shadow: var(--v2--shadow);

  section {
    overflow: auto;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: -1.25rem;
    background-color: var(--v2--color-secondary);
    border-radius: $radius-pill;
    height: 2.5rem;
    width: 2.5rem;
  }

  &::after {
    top: -1rem;
    left: .25rem;
    height: 2rem;
    width: 2rem;
    mask-image: url('/svg/code.svg');
    mask-repeat: no-repeat;
    background-color: var(--v2--color-text-alt);
  }

  @include mq.mq($from:md) {
    margin: $space-abs-xxxxl $space-abs-md;
    width: auto;

    &::before {
      left: -1rem;
    }

    &::after {
      left: -.75rem;
    }
  }

  @include mq.mq($from:lg) {
    margin: $space-abs-xxxxl 0;
    width: auto;
    border-radius: $radius-xl;
  }
}

pre[class][class*="language-"] {
  padding: 4.5rem $space-abs-sm $space-abs-sm;

  @include mq.mq($from:md) {
    padding: 4.5rem $space-abs-md $space-abs-md;
  }
}

.code__header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: $space-abs-md;
  margin-bottom: $space-abs-md;
  padding: $space-abs-sm $space-abs-md;
}

.copy__announcement {
  border-radius: $radius-md;
  padding: 0 $space-abs-md;
  height: 2.75rem;
  font-size: var(--v2--current-small-font-size);
  font-weight: 500;
  background-color: var(--v2--color-success);
  color: var(--v2--color-black);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 200ms ease-in;

  &:not(:empty) {
    transform: scaleX(1);
  }
}
