@use '../vendors/mq';

.code__wrapper {
  position: relative;
  margin: $space-abs-xxxxl 0;
  border: 1px solid var(--v2--color-border--light);
  border-radius: $radius-md;
  width: 100%;
  font-size: var(--v2--current-small-font-size);
  background: var(--v2--color-bg--light);
  box-shadow: var(--v2--shadow);

  section {
    overflow: auto;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
  }

  &::before {
    top: -1.25rem;
    background-color: var(--v2--color-secondary);
    border-radius: $radius-pill;
    height: 2.5rem;
    width: 2.5rem;
  }

  &::after {
    top: -1rem;
    left: .25rem;
    height: 2rem;
    width: 2rem;
    mask-image: url('/svg/code.svg');
    mask-repeat: no-repeat;
    background-color: var(--v2--color-text-alt);
  }

  @include mq.mq($from:md) {
    margin: $space-abs-xxxxl $space-abs-md;
    width: auto;

    &::before {
      left: -1rem;
    }

    &::after {
      left: -.75rem;
    }
  }

  @include mq.mq($from:lg) {
    margin: $space-abs-xxxxl 0;
    width: auto;
    border-radius: $radius-xl;
  }
}

pre[class][class*="language-"] {
  padding: 4.5rem $space-abs-sm $space-abs-sm;

  [data-pref--code-theme="light"] & {
    background-color: #f6fffd;
    --v2--color-code-one: #3A539B;
    --v2--color-code-two: #744E2E;
    --v2--color-code-three: #8B008B;
    --v2--color-code-four: #006060;
    --v2--color-code-five: #1f1f1f;
    --v2--color-code-six: #1f1f1f;
  }
  
  [data-pref--code-theme="lower"] & {
    background-color: #f6fffd;
    --v2--color-code-one: #2269dd;
    --v2--color-code-two: #bd4c21;
    --v2--color-code-three: #AA5535;
    --v2--color-code-four: #157e15;
    --v2--color-code-five: #a9489d;
    --v2--color-code-six: #1a1a1a;
  }
  
  [data-pref--code-theme="dark"] & {
    background-color: #2a2a2a;
    --v2--color-code-one: #00e0e0;
    --v2--color-code-two: #ffd700;
    --v2--color-code-three: #ffa07a;
    --v2--color-code-four: #abe338;
    --v2--color-code-five: #B0B0B0;
    --v2--color-code-six: #DEDEDE;
  }

  @include mq.mq($from:md) {
    padding: 4.5rem $space-abs-md $space-abs-md;
  }
}

.code__header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: $space-abs-md;
  margin-bottom: $space-abs-md;
  padding: $space-abs-sm $space-abs-md;
  background-color: var(--v2--color-bg--light);
}

.copy__announcement {
  border-radius: $radius-md;
  padding: 0 $space-abs-md;
  height: 2.75rem;
  font-size: var(--v2--current-small-font-size);
  font-weight: 500;
  background-color: var(--v2--color-success);
  color: var(--v2--color-black);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 200ms ease;

  &:not(:empty) {
    transform: scaleX(1);
  }
}
