@use '../vendors/mq';

.dialog {
  
  margin: auto;
  border: 2px solid var(--v2--color-border--mid);
  border-radius: $radius-lg;
  width: 70rem;
  max-width: 96%;
  height: 96vh;
  box-shadow: var(--v2--shadow);
  background-color: var(--v2--color-bg);
  

  &[open] {
    display: flex;
  flex-direction: column;
    animation: fadeInUp 750ms cubic-bezier(0.5, 1, 0.89, 1) both;

    &::backdrop {
      backdrop-filter: blur(15px);
    }
  }

  &.closing {
    animation: fadeOutDown 750ms cubic-bezier(0.5, 1, 0.89, 1) both;

    // @media (prefers-reduced-motion) {
    //   transition: opacity 750ms ease;
    // }
  }

  @media screen and (max-height: 40em) and (orientation: landscape) {
    border-radius: 0;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
  }

  // @media (prefers-reduced-motion) {
  //   transition: opacity 750ms ease;
  // }
}

@media (prefers-reduced-transparency) {
  ::backdrop {
    background: var(--v2--color-bg);
    opacity: .925;
    backdrop-filter: blur(0);
  }
}

// [data-pref--motion="off"] {
//   ::backdrop {
//     transition: opacity .0001ms !important;
//   }
// }

// @starting-style {
//   .dialog[open] {
//     opacity: 0;
//     transform: scale(0);

//     &::backdrop {
//       opacity: 0;
//     }
//   }
// }

.dialog__header,
.dialog__footer {
  display: flex;
  align-items: center;
  padding: 0 $space-abs-lg;
  height: 4rem;
  min-height: 4rem;
  background-color: var(--v2--color-primary);
  color: var(--v2--color-bg);

  @include mq.mq($from:md) {
    height: 4.5rem;
    min-height: 4.5rem;
  }

  @include mq.mq($from:lg) {
    height: 5rem;
    min-height: 5rem;
  }
}

.dialog__header {
  justify-content: center;
}

.dialog__footer {
  justify-content: flex-end;
}

.dialog__title {
  margin: 0;
  padding: 0;
  font-size: calc(var(--v2--current-base-font-size) + 1rem);
  color: var(--v2--color-text-alt);

  @include mq.mq($from:md) {
    font-size: calc(var(--v2--current-base-font-size) + 1.5rem);
  }
}

.dialog__subtitle {
  padding: 0;
  font-size: calc(var(--v2--current-base-font-size) + .625rem);
  
  @include mq.mq($from:md) {
    font-size: calc(var(--v2--current-base-font-size) + .875rem);
  }
}

.dialog__content {
  padding: $space-rel-xl $space-rel-sm;
  overflow-y: auto;
  color: var(--v2--color-text);

  @media screen and (max-height: 40em) and (orientation: landscape) {
    height: calc(100vh - 8rem);
  }

  @include mq.mq($from:md) {
    padding: $space-rel-xl;
  }

  p:last-of-type {
    margin-bottom: $space-abs-xxxl;
  }
}

.settings__fieldset {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: none;
}

.panel:has(.settings__fieldset) {
  margin-bottom: $space-abs-xxxl;
  
  @include mq.mq($from:md) {
    padding-top: $space-abs-sm;
  }
}

.settings__legend {
  display: block;
  width: 100%;
  padding: $space-abs-xxs $space-abs-xxl;
  text-align: center;
  
}

.settings__btns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-abs-md;

  @include mq.mq($from:sm) {
    flex-direction: row;
  }
}

body:has(dialog[open]) {
  overflow-y: hidden;
}