@use '../vendors/mq';

.dialog {
  margin: auto;
  border: 1px solid var(--v2--color-inactive);
  border-radius: $radius-lg;
  width: 70rem;
  max-width: 96%;
  height: 96vh;
  transform: scale(0);
  opacity: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--v2--color-bg);
  overflow-y: hidden;
  transition: transform 600ms ease-in, opacity 600ms ease-in;

  &::backdrop {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.3);    
    backdrop-filter: blur(7.5px);
    transition: opacity 600ms ease-in;
  }

  &[open] {
    display: flex;
    flex-direction: column;
    transform: scale(1);
    opacity: 1;

    &::backdrop {
      opacity: 1;
    }
  }

  &.animating {
    transform: scale(0);
    opacity: 0;

    &::backdrop {
      opacity: 0;
    }

    @media (prefers-reduced-motion) {
      transform: scale(1);
      transition: opacity 600ms ease-in;
    }
  }

  @media screen and (max-height: 40em) and (orientation: landscape) {
    border-radius: 0;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
  }

  @media (prefers-reduced-motion) {
    transform: scale(1);
    transition: opacity 600ms ease-in;
  }
}

@media (prefers-reduced-transparency) {
  ::backdrop {
    background: grey;
    opacity: .95;
    backdrop-filter: blur(0);
  }
}

[data-pref--motion="off"] {
  ::backdrop {
    transition: opacity .0001ms !important;
  }
}

@starting-style {
  .dialog[open] {
    opacity: 0;
    transform: scale(0);

    &::backdrop {
      opacity: 0;
    }
  }
}

.dialog__header,
.dialog__footer {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 4rem;
  min-height: 4rem;
  background-color: var(--v2--color-primary);
  color: var(--v2--color-bg);

  @include mq.mq($from:md) {
    height: 4.5rem;
    min-height: 4.5rem;
  }

  @include mq.mq($from:lg) {
    height: 5rem;
    min-height: 5rem;
  }
}

.dialog__header {
  justify-content: center;
}

.dialog__footer {
  justify-content: flex-end;
}

.dialog__title {
  margin: 0;
  padding: 0;
  font-size: calc($default-paragraph-size * 2);
  color: var(--v2--color-text-alt);

  @include mq.mq($from:md) {
    font-size: calc($default-paragraph-size * 2.25);
  }
}

.dialog__subtitle {
  margin: 32px 0;
  padding: 0;
  font-size: calc($default-paragraph-size * 1.75);

  @include mq.mq($from:md) {
    font-size: calc($default-paragraph-size * 2);
  }
}

.dialog__content {
  padding: $space-xl $space-sm;
  overflow-y: auto;
  color: var(--v2--color-text);

  @media screen and (max-height: 40em) and (orientation: landscape) {
    height: calc(100vh - 8rem);
  }

  @include mq.mq($from:md) {
    padding: $space-xl;
  }
}

.settings__fieldset {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
  border: 1px solid var(--v2--color-subtle);
  border-radius: 0 $radius-sm $radius-sm $radius-sm;
  padding: 16px 12px;
  background-color: var(--v2--color-tertiary);
}

.settings__legend {
  @include light-theme(('color': var(--v2--color-text)));

  position: relative;
  margin-left: -12px;
  border-radius: $radius-sm;
  padding: 4px 12px;
  color: var(--v2--color-text-alt);
  background-color: var(--v2--color-tertiary);

  &::before {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    border: 1px solid var(--v2--color-subtle);
    border-radius: $radius-sm $radius-sm 0 0;
    width: calc(100% + 2px);
    height: 100%;
    z-index: -1;
  }
}

.settings__btns-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  margin: 20px auto 0;

  @include mq.mq($from:sm) {
    flex-direction: row;
  }
}

button[class^="settings__btn"],
.dialog__close-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius-md;
  padding: 0 $space-xl;
  transition: color 300ms ease-in, background-color 300ms ease-in, border-color 300ms ease-in;

  @-moz-document url-prefix() {
    padding: 5px $space-xxl;
    
    span {
      padding-top: 2px;
    }
  }
}

button[class^="settings__btn"] {
  border: 2px solid var(--v2--color-interactive-alt);
  background-color: var(--v2--color-interactive-alt);
  color: var(--v2--color-bg);

  &[aria-pressed="true"] {
    span {
      position: relative;
    
      &::after {
        content: "\2713";
        position: absolute;
        top: 50%;
        right: -$space-lg;
        transform: translateY(-50%);
        color: inherit;
      }
    }
  }

  &:focus-visible,
  &:hover {
    background-color: var(--v2--color-bg);
    color: var(--v2--color-interactive-alt);
  }

  &:focus-visible {
    outline: 2px solid var(--v2--color-interactive-alt);
  }
}

.dialog__close-btn {
  @include dark-theme(('border-color': var(--v2--color-text-alt)));

  border: 2px solid var(--v2--color-bg);
  background-color: var(--v2--color-bg);
  color: var(--v2--color-interactive-alt);

  &:focus-visible,
  &:hover {
    background-color: var(--v2--color-interactive-alt);
    color: var(--v2--color-bg);
  }

  &:focus-visible {
    @include dark-theme(('outline-color': var(--v2--color-text-alt)));
    outline: 2px solid var(--v2--color-bg);
  }
}

body:has(dialog[open]) {
  overflow-y: hidden;
}