@use '../vendors/mq';

.nav__link,
.nav__link-sub,
.footer__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: $radius-sm;
  padding: 2px 8px 0;
  height: 2.75rem;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--v2--color-text-alt);
  transition: color 300ms ease-in, background-color 300ms ease-in;

  &[aria-current="page"] {
    text-decoration: none;
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 8px;
      left: 8px;
      width: calc(100% - 16px);
      height: 0;
      border-top: 3px solid var(--v2--color-text-alt);
      transition: background-color 300ms ease-in, transform 300ms ease-in;

      @include mq.mq($from:xl) {
        bottom: 6px;
      }
    }

    &::after {
      @include dark-theme(('border-top-color': var(--v2--color-primary)));
      
      transform: scaleX(0);
      border-top-color: var(--v2--color-primary);
    }
  } 

  &:focus-visible,
  &:hover {    
    color: var(--v2--color-primary);
    background-color: var(--v2--color-bg-alt-1);

    &::before {
      background-color: var(--v2--color-primary);
    }

    &::after {
      transform: scaleX(1);
    }
  }

  @include mq.mq($until:md) {
    margin-top: 4px;
  }
}