@use '../vendors/mq';

.intro-panel {
  position: relative;
  margin-bottom: $space-rel-xxxl;
  padding: $space-rel-sm;
  border: 2px solid var(--color-primary);
  border-radius: $radius-md;
  background-color: var(--color-bg--light);

  @include mq.mq($from:md) {
    margin-bottom: $space-rel-xxxxl;
    border-width: 3px;
    border-radius: $radius-lg;
    padding: $space-rel-xl $space-rel-lg;
  }

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.intro-panel__heading:nth-of-type(2) {
  margin-top: $space-rel-xl;
}