@use '../vendors/mq';

.intro-panel {
  margin-top: $space-xxxxl;
  padding: $space-sm;
  border: 2px solid var(--color-accent);
  border-radius: $radius-md;

  @include mq.mq($from:md) {
    margin: $space-largest $space-xxl 0;
    border-width: 3px;
    border-radius: $radius-lg;
    padding: $space-xl $space-lg;
  }
}

.intro-panel__heading {
  
}

.intro-panel__text {
  
}