@use '../vendors/mq';

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq.mq($until:lg) {
    margin-bottom: $space-abs-biggest;
  }
 }

 .pagination__heading {
  font-size: calc(var(--v2--current-base-font-size) * 1.35);
 }

.pagination__items-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--v2--current-small-font-size);
}

.pagination__link,
.pagination__item--inert {
  position: relative;
  min-height: 2.75rem;
  min-width: 4em;

  [data-pref--f-size="largest"] & {
    min-width: 3.5em
  }

  &::before {
    content: "";
    position: absolute;
    height: 2em;
    min-width: 4em;
    border: 2px solid var(--v2--color-primary);
    background-color: var(--v2--color-bg--light);
    z-index: -1;
  }

  &:nth-child(1)::before {
    border-radius: 3rem 0 0 3rem;
  }

  &:nth-child(4)::before {
    border-radius: 0 3rem 3rem 0;
  }

  &:nth-child(-n+3)::before {
    border-right: none;
  }
}

.pagination__link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--v2--color-secondary);
  text-underline-offset: .15em;
  transition: text-underline-offset 200ms, color 300ms ease-in, background-color 300ms ease-in, text-decoration-color 300ms ease-in;
  color: var(--v2--color-interactive);

  &:hover,
  &:focus-visible {
    text-underline-offset: .25em;
    color: var(--v2--color-bg);
    text-decoration-color: var(--v2--color-bg);

    &::before {
      background-color: var(--v2--color-interactive);
    }
  }
}

.pagination__item--inert {
  color: var(--v2--color-text);
}