@use '../vendors/mq';

.pagination {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: $space-xxxl;
}

.pagination__heading {
  display: block;
  margin-bottom: $space-md;
  font-size: $large-text;
}

.pagination__items-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: $space-xs;

  @include mq.mq($from:sm) {
    flex-wrap: nowrap;
  }
}

.pagination__item {
  display: inline-flex;
  height: 2.75rem;
  width: auto;
}

.pagination__item,
.pagination__item:active  {

  &:not(.pagination__item--inert) {
    @include focus-indicator(true);

    position: relative;
    display: block;
    border: 2px solid var(--color-interactive);
    border-radius: $radius-sm;
    padding: $space-xs;
    text-align: center;
    font-weight: 600;
    line-height: 1.3;
    text-decoration: none;
    color: var(--color-interactive);
  }

  @include mq.mq($from:sm) {
    padding: $space-sm;
  }
}

.pagination__item--inert {
  border-radius: $radius-sm;
  padding: $space-sm;
  text-align: center;
  line-height: 1;
  background-color: var(--color-accent);
  color: var(--color-inactive);
}