@use '../vendors/mq';

.panel {
  position: relative;
  border: 2px solid var(--v2--color-border--light);
  padding: $space-abs-sm $space-abs-xs;
  border-radius: $radius-md;
  background-color: var(--v2--color-bg--light);
  box-shadow: var(--v2--shadow);

  @include mq.mq($from:sm) {
    padding: $space-abs-sm;
  }

  @include mq.mq($from:md) {
    border-radius: $radius-xl;
    padding: $space-rel-lg;
  }
}