@use '../vendors/mq';

.skip-link {
  position: absolute;
  left: 0;
  padding: $space-xs $space-sm;
  width: auto;
  height: auto;
  background: var($--color-interactive);
  color: var($--color-bg);
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  transition: top 250ms ease-in;
  z-index: 1;
}

.skip-link:not(:active):not(:focus) {
  top: -$space-xxxl;
}

.skip-link:focus {
  top: 0;
}