@use '../vendors/mq';

.skip-link,
.skip-link--static {
  position: absolute;
  top: 0;
  border: 3px solid var(--v2--color-strong--on-primary);
  padding: 0 $space-abs-sm;
  width: auto;
  min-height: 2.75rem;
  background: var($--v2--color-primary);
  color: var(--v2--color-strong--on-primary);
  z-index: 5;
}

.skip-link {
  left: $space-rel-sm;
  transform: translateY(0);
  transition: transform 250ms ease-in;

  @include mq.mq($from:md) {
    left: 4.5rem;
  }

  @include mq.mq($from:lg) {
    top: -$space-abs-xl; 
  }
}

.skip-link--static {
  left: 0;
  margin: $space-abs-xxs;
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.skip-link--static:not(:focus):not(:active) {
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  opacity: 0;
}

.skip-link:not(:active):not(:focus) {
  transform: translateY(-2.75rem);
}

.skip-link:focus {
  transform: translateY(0);
}