@use '../vendors/mq';

.socials__container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin: $space-abs-bigger 0 0;
  width: 100%;

  @include mq.mq($from:xs) {
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.socials__title {
  margin: 0;
  font-size: calc(var(--v2--current-base-font-size) * 1.4);
}

.socials__link {
  height: 2.75rem;
  width: 2.75rem;
  gap: $space-abs-sm;

  &:focus-visible {
    outline: 2px solid var(--v2--color-interactive);
    outline-offset: -3px;
  }

  > svg {
    height: 2rem;
    width: 2rem;

    > path {
      fill: var(--v2--color-interactive);
    }
  }
}