.tags {
  position: relative;
  margin-bottom: $space-xs;
  padding: $space-xxs 0;
  display: flex;
  flex-wrap: wrap;
  gap: $space-xs;

  &:not(.tags__all)::before {
    content: "";
    display: block;
    margin: .25rem $space-xs 0 0;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url("../svg/tag.svg");
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;

    @media (prefers-color-scheme: dark) {
      background-image: url("../svg/tag--light.svg");
    }

    [data-theme="dark"] & {
      background-image: url("../svg/tag--light.svg");
    }
  }
}

.tag__item {
  @extend %small-text;

  display: inline-flex;
  font-weight: 600;
}

.tag__item--inert {
  @extend %smallest-text;

  line-height: 1.4;
  border-radius: $radius-md;
  padding: $space-xxs $space-xs;
  font-weight: 500;
  background-color: var(--color-accent);
  color: var(--color-inactive)
}

.tag__link {
  @include focus-indicator(true);

  border: 2px solid var(--color-interactive);
  border-radius: $radius-md;
  padding: $space-xxs $space-xs;
  line-height: calc($default-line-height / 1.5);
  text-decoration: none;
  color: var(--color-interactive);

  &.tag__link--has-count {
    padding-right: 2rem;
  }

  &:hover,
  &:focus-visible {
    .tag__count {
      border-left: 2px solid var(--color-bg);
    }
  }
}

.tag__count {
  @extend %smallest-text;

  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  margin-left: $space-xxs;
  border-left: 2px solid var(--color-interactive);
  height: 100%;
  width: 1.75rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.7;
  transition: border-color 250ms ease-in-out;
}