@use '../vendors/mq';

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: $space-abs-xxxs;
  margin-bottom: $space-abs-xxl;
  list-style: none;

  @media (forced-colors: active) {
    gap: $space-abs-xs;
  }
}

.tag__item {
  display: inline-flex;
}

.tag__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--v2--color-bg);
  border-radius: $radius-md;
  padding: 0 $space-abs-md;
  min-height: 2.75rem;
  font-size: var(--v2--current-small-font-size);
  text-decoration: none;
  text-underline-offset: .1em;
  background-color: var(--v2--color-interactive);
  color: var(--v2--color-bg);
  transition: background-color 300ms ease, color 300ms ease, text-underline-offset 200ms;

  @media (forced-colors: active) {
    border: none;
  }

  [data-pref--underline] & {
    text-decoration: underline;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: .2em;
    }
  }

  &:hover,
  &:focus-visible {
    color: var(--v2--color-interactive);
    background-color: var(--v2--color-bg);

    @media (forced-colors: active) {
      text-decoration: underline;
    }

    .tag__count {
      border-color: var(--v2--color-interactive);
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    border: 2px solid var(--v2--color-interactive);
    border-radius: $radius-xs;

    @media (forced-colors: active) {
      border-radius: $radius-md;
    }
  }
}

.tag__count {
  margin-left: $space-abs-sm;
  padding: 0 $space-abs-xs;
  border: 2px solid var(--v2--color-bg);
  border-radius: $radius-sm;
  height: 1.25em;
  min-width: 1.25em;
  transition: border-color 300ms ease;

  @include mq.mq($from:md) {
    font-size: calc(var(--v2--current-small-font-size) - .125rem);
  }

  @media (forced-colors: active) {
    padding: $space-abs-sm $space-abs-xs;
    overflow: hidden;
  }
}