.toc__nav {
  margin-bottom: $space-abs-big;
  li,
  a {
    min-height: 2.75rem;
  }

  ol {
    list-style-position: inside;
  }
 
  a {
    display: flex;
    align-items: center;
  }

  li {
    margin-bottom: $space-abs-xs;
  }
}