p {
  position: relative;
  top: 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  padding: 1rem 0;
  text-align: center;
  background-color: aliceblue;
}

// hhjhjh
h1 {
  flex-basis: 1;
  position: relative;
  top: 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  padding: 1rem 0;
  text-align: center;
  background-color: green;
}