@use '../vendors/mq';

.footer {
  margin-top: $space-bigger;
  position: relative;
  padding: $space-xxxxl 0 $space-sm;
  background: var(--color-primary);
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  clip-path: polygon(0 2.5%, 100% 0, 100% 100%, 0% 100%);

  &::before {
    content: "";
    position: absolute;
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    top: 8px;
    left: 8px;
    background-color: var(--color-bg--light);
    clip-path: polygon(0 2.5%, 100% 0, 100% 100%, 0% 100%);

    @include mq.mq($from:sm) {
      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }

    @include mq.mq($from:md) {
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    }
  }

  @include mq.mq($from:sm) {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  }

  @include mq.mq($from:md) {
    display: flex;
    flex-wrap: wrap;
    margin: $space-bigger 0 0;
    padding: $space-bigger 0 $space-sm;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  }
}

.footer__panel--secondary,
.footer__panel--primary {
  position: relative;
  flex: 1;
  padding: 0 $space-lg;
  z-index: 2;

  @include mq.mq($from:md) {
    padding: 0 $space-xxxxl;
  }
}

.footer__panel--primary {

  @include mq.mq($until:md) {
    margin-bottom: $space-xxxl;
  }
}

.footer__panel--secondary {
  
}

.footer__heading {
  margin-bottom: $space-md;
  font-size: 1.75rem;

  @include mq.mq($from:md) {
    font-size: 2rem;
  }
}

.footer__list {
  list-style: none;
}

.footer__list-item {

  @include mq.mq($from:xs) {
    display: inline-block;
    margin-bottom: $space-xs;
  }

  @include mq.mq($from:md) {
    display: block;
    margin-bottom: $space-xs;
  }
  
  &:not(:last-of-type) {
    padding-right: $space-xl;
  }
}

.footer__link,
.footer__link:visited {
  @include focus-indicator;
  @extend %underline;

  position: relative;
  margin: 0 -3px;
  padding: 6px 3px;
  line-height: $large-line-height;
  font-weight: 600;
  color: var(--color-interactive);

  &[aria-current="page"] {
    &::before {
      content: "";
      position: absolute;
      right: -$space-sm;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 10px 5px 0;
      border-color: transparent var(--color-interactive) transparent transparent;
    }
  }
}

.footer__help-text {
  
}

.footer__colophon {
  position: relative;
  margin-top: $space-xxxl;
  padding: 0 $space-sm;
  text-align: center;
  z-index: 2;

  @include mq.mq($from:md) {
    flex-basis: 100%;
  }

  .footer__date,
  .footer__credit {
    display: inline-block;
    margin-bottom: $space-sm;
  }
}