@use '../vendors/mq';

.footer {
  position: relative;
  padding: 32px 8px 12px;
  background-color: var(--v2--color-primary--dark);
  color: var(--v2--color-text-alt);

  @include mq.mq($from:md) {
    padding: 32px 20px 24px;
  }

  @include mq.mq($from:lg) {
    border-radius: $radius-md;
    padding: 7.5rem 24px 24px;
  }

  h2 {
    font-size: calc(var(--v2--base-font-size)  * 1.5);

    @include mq.mq($from:md) {
      font-size: calc(var(--v2--base-font-size)  * 1.75);
    }
  }
}

.footer__contact-us {
  @include mq.mq($from:lg) {
    position: absolute;
    top: 0;
    left: 50%;
    border: 4px solid var(--v2--color-primary--dark);
    border-radius: $radius-lg;
    padding: 8px 12px 20px;
    width: 80%;
    max-width: 65rem;
    text-align: center;
    transform: translate(-50%, -50%);
    color: var(--v2--color-text);
    background-color: var(--v2--color-bg);

    h2 {

      margin-bottom: 1rem;
    }

    div {
      justify-content: center;
    }

    svg {
      color: var(--v2--color-secondary);
    }

    a {
      @include light-theme(('color': var(--v2--color-primary)));
      @include dark-theme(('color': var(--v2--color-text)));

      &:hover,
      &:focus-visible {
        @include light-theme(('color': var(--v2--color-bg), 'background-color': var(--v2--color-primary)));
      }
    }
  }

  div {
    display: flex;
    align-items: center;

    &:first-of-type {
      margin-bottom: 2px;
    }
  }

  svg {
    margin-right: 8px;
    height: 2rem;
    width: 2rem;
  }
}

.footer__contact-us,
.footer__help,
.footer__mta-links,
.footer__collabs {
  margin-bottom: 36px;

  @include mq.mq($from:md) {
    margin-bottom: 36px;
  }

  @include mq.mq($from:lg) {
    margin-bottom: 40px;
  }
}

.footer__help {
  @include mq.mq($from:lg) {
    margin-top: 2rem;
  }
}

.footer__help-text {
  @include mq.mq($from:lg) {
    display: block;
    column-count: 2;
    column-gap: 4rem;
    min-width: 100%;
  }
}

.footer__mta-links {
  padding: 8px 0;

  @include mq.mq($from:md) {
    padding: 12px 0;
  }

  @include mq.mq($from:lg) {
    padding: 20px 0;
  }
}

.footer__list,
.footer__list--collabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  list-style: none;
}

.footer__list--collabs {
  justify-content: flex-start;
}

.footer__list {

  @include mq.mq($from:md) {
    display: block;
    column-count: 3;

    li {
      margin: 6px 0;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.footer__colophon {
  text-align: center;
  border-top: 1px solid var(--v2--color-bg);
  

  p {
    margin: 0;
    padding-top: 16px;
    font-size: 1rem;

    @include mq.mq($from:md) {
      font-size: 1.125rem;
    }
  }
}

.footer__date {
  @include mq.mq($from:md) {
    padding-top: 7px;
  }

  @include mq.mq($from:md) {
    padding-top: 2px;
  }
}
