@use '../vendors/mq';

.header {
  position: relative;
}

.skip-link {
  @extend %underline;

  position: absolute;
  left: $space-sm;
  top: 0;
  border: 3px solid var(--color-bg);
  padding: 0 $space-sm;
  width: auto;
  height: 2.75rem;
  line-height: 1.75;
  background: var($--v2--color-primary);
  color: var($--v2--color-text-alt);
  transform: translateY(0);
  transition: transform 250ms ease-in;
  z-index: 5;

  @include mq.mq($from:md) {
    left: 4.5rem;
  }

  @include mq.mq($from:lg) {
    top: -20px; 
  }
}

.skip-link:not(:active):not(:focus) {
  transform: translateY(-2.75rem);
}

.skip-link:focus {
  transform: translateY(0);
}