@use '../vendors/mq';

.header {
  position: relative;
}

.skip-link {

  position: absolute;
  left: $space-rel-sm;
  top: 0;
  border: 3px solid var(--v2--color-bg);
  padding: 0 $space-rel-sm;
  width: auto;
  height: 2.75rem;
  line-height: 1.75;
  background: var($--v2--color-primary);
  color: var($--v2--color-text-alt);
  transform: translateY(0);
  transition: transform 250ms ease;
  z-index: 5;

  @include mq.mq($from:md) {
    left: 4.5rem;
  }

  @include mq.mq($from:lg) {
    top: -$space-abs-xl; 
  }
}

.skip-link:not(:active):not(:focus) {
  transform: translateY(-2.75rem);
}

.skip-link:focus {
  transform: translateY(0);
}

.header__logo {
  img {
    height: auto;
    max-width: 96%;

    @include mq.mq($from:sm) {
      max-width: 35rem;
    }
  }
}