@use '../vendors/mq';

.latest-articles {
  margin-top: $space-xxxxl;
  padding: 0;

  @include mq.mq($from:md) {
    margin: $space-bigger 0 0;
    border-width: 3px;
    border-radius: $radius-lg;
    padding: $space-md 0;
  }
}

.latest-articles__heading {
  
}

.latest-articles__intro {
  margin-bottom: $space-xl;
}