@use '../vendors/mq';

.latest-articles {
  margin: 0;
  padding: 0;

  @include mq.mq($from:md) {
    border-width: 3px;
    border-radius: $radius-lg;
    padding: $space-rel-md 0;
  }

  &:not(:last-of-type) {
    margin-bottom: $space-rel-xxxl;
  }
}

.latest-articles__heading {
  
}

.latest-articles__intro {
  margin-bottom: $space-rel-xl;
}