@use '../vendors/mq';

body {
  max-width: $site-width;
  background: var(--v2--color-bg);

  @include mq.mq($from:md) {
    padding: $space-abs-lg;
  }

  @include mq.mq($from:lg) {
    padding: $space-abs-xxl;
  }

  @include mq.mq($from:xl) {
    padding: $space-abs-xxxxl $space-abs-big;
  }

  &.extra-width {
    max-width: calc($site-width + 2.5rem);
  }
}

.extra-width .main {
  padding: 0;
}

body[modal-open] {
  overflow: hidden;
  z-index: 2;
}

.main {

  @include mq.mq($until:md) {
    padding: 0 $space-abs-sm;
  }
}