kbd {
  margin: 0 2px;
  border: 2px solid grey;
  border-radius: 2px;
  padding: 1px 3px;
  font-size: 92.5%;
  font-weight: 600;
  box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.5);
}

h2:not(.accordion):not(.cms__toc > h2) {
  display: inline-block;
  margin-bottom: 0;
}

.callout__tip,
.callout__info,
.callout__warn {
  align-items: center;
  display: flex;
  width: auto;
  max-width: 60rem;
  border-radius: 5px;
  margin: 1rem 0;
  color: black;
}

.callout__tip {
  background-color: lightgreen;
}

.callout__tip::before {
  content: "Tip ";
  width: inherit;
}

.callout__info {
  background-color: lightblue;
}

.callout__info::before {
  content: "Info ";
  width: inherit;
}

.callout__warn {
  background-color: pink;
}

.callout__warn::before {
  content: "Warning ";
  width: inherit;
}

.callout__icon {
  display: flex;
  align-items: center;
  border-right: 1px solid white;
  border-radius: 5px 0 0 5px;
  padding: .5rem 1rem;
  background: rebeccapurple;
  color: white;
}

.callout__text {
  padding: .5rem;
}

.accordion {
  position: relative;
  border: 2px solid rebeccapurple;
  padding-right: 2rem;;
}

.accordion::before {
  position: absolute;
  content: "+";
  right: .5rem;
  top: 50%;
  font-size: 2rem;
  font-weight: bolder;
  transform: translateY(-50%);
}

.accordion__panel {
  background-color: rgb(244, 193, 244);
}