---
layout: base.njk
title: Frequently Asked Questions
summary: View our frequently asked questions, which provide helpful tips, advice and guidance on how to avoid or resolve common digital accessibility issues 
pagination:
  data: collections.faqs
  filter: ['all', 'tagList', 'latest', 'guides', 'terms']
  size: 20
  alias: accordions
  reverse: true
---

<h2>Frequently asked accessibility questions</h2>
<p class="faqs__intro">Some questions come up often from people that are starting out to learn digital accessibility best practices, in fact, you don't necessarily have to be new to the field, as there's so much to learn and that willingness to continue learning makes digital media and websites much easier to use for everybody, especially people that rely on assistive technology to access digital content.</p>
<p class="faqs__intro">We've put together some of our FAQs here, it may be a useful place to start, especially if you're just starting out on this journey, if you are just starting out, welcome to the digital accessibility community.</p>
{%- for faq in accordions %}
  {%- if faq.data.title %}
    <h3 class="accordion">{{ faq.data.title }}</h3>
    <div class="accordion__panel">{{ faq.templateContent | safe }}</div>
  {%- endif %}
{%- endfor %}

{%- if pagination.pageLinks.length > 1 %}
  {% include "_pagination.njk" %}
{%- endif %}