---
layout: base.njk
title: Glossary of terms
summary: The glossary of terms provides definitions for many of the acronyms and phrases realated to digital accessibility, used across the site and throughout our guides
pagination:
  data: collections.glossarySorted
  filter: ['all', 'tagList', 'latest', 'guides', 'faqs', 'writers', 'contributors', 'glossarysorted' ]
  size: 50
  alias: descList
eleventyExcludeFromCollections: true
---

<h2>Glossary of frequently used terms and abbreviations</h2>
<p>We know that in digital media, specifically web-development and digital accessibility there are many acronyms and terms that may be new to our users, we aim to help our users understand them by providing definitions, all in one place.</p>
{%- if descList.length %}
  {%- for item in descList  %}
  <dl class="glossary__list">
    <div class="glossary__item-wrapper">
      <dt class="glossary__term"><strong>{{ item.data.title }}</strong></dt>
      <dd class="glossary__definition">{{ item.templateContent | safe  }}</dd>
    </div>
  </dl>
  {%- endfor %}
{%- endif %}