---
layout: base.njk
title: All Guides
summary: some description for google
templateEngineOverride: njk
pagination:
  size: 10
  data: collections.guides
  alias: helpGuides
  reverse: true
eleventyComputed:
  title: All guides Page {%- if page.url != pagination.href.first %} {{ pagination.pageNumber + 1 }} of {{ pagination.pageLinks.length }} {%- endif%}
  summary: "View all useful digital accessibility guides from our website by all of our contributors, covering inclusive design, web development, documentation & social media"
---
<div class="intro-panel">
  <h2 class="intro-panel__heading">Filter by tag</h2>
  <a class="skip-tags" href="#h2">Skip filters</a>
  <ul class="tags tags__all">
    {%- for tag in collections.tagList %}
      <li class="tag__item">
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{%- endset %}
        <a class="tag__link tag__link--has-count" href="{{ tagUrl | url }}">{{ tag }}<span class="tag__count">{{ collections[tag].length }}<span class="visually-hidden"> guide{%- if collections[tag].length > 1 %}s{%- endif %}</span></span></a>
      </li>
    {%- endfor %}
    </ul>
    <h2 class="intro-panel__heading">Filter by author</h2>
    <ul class="tags tags__all">
      {%- for author in collections.writers %}
        {% set posts = collections.guides | getGuidesByAuthor(author.key) %}
        {%- if posts.length %}
          <li class="tag__item">
            <a class="tag__link tag__link--has-count" href="/authors/{{ author.key }}">{{ author.name }}<span class="tag__count">{{ posts.length }}<span class="visually-hidden"> guide{%- if posts.length != 1 %}s{%- endif %}</span></span></a>
          </li>
        {%- endif %}
      {%- endfor %}
    </ul>
</div>

<div class="cards__wrapper">
  <h2 id="h2" tabindex="-1">Showing {{ (pagination.pageNumber * pagination.size) + 1 }} to {%- if pagination.nextPageLink %} {{ (pagination.pageNumber * pagination.size) + pagination.size }} {%- else %} {{ collections.guides.length }} {%- endif %} of {{ collections.guides.length }} results</h2>
  <ul class="cards">
    {%- for guide in helpGuides %}
      <li class="card__item">
        <article>
          <h3 class="card__title"><a href="{{ guide.url }}" class="card__link">{{ guide.data.title }}</a></h3>
          <p class="card__summary">{{ guide.data.summary }}</p>
          <ul class="tags" aria-label="Tags">
            {%- for tag in guide.data.tags | filterTagList %}
              <li class="tag__item tag__item--inert">
              {{ tag }}
              </li>
            {%- endfor %}
          </ul>
          {% set guideAuthor = collections.writers | getAuthor(guide.data.author) %}
          <a href="/authors/{{ guideAuthor.key }}" class="card__author-link">{{ guideAuthor.name }}</a>
          <span class="card__date">{{ guide.data.date | readableDate }}</span>
        </article>
      </li>
    {%- endfor %}
  </ul>
</div>
{%- if pagination.pageLinks.length > 1 %}
  {% include "_pagination.njk" %}
{%- endif %}