---
date: Last Modified
layout: base.njk
title: Home
home: true
---
<div class="intro-panel">
  <h2>Hello and welcome</h2>
  <p>To the Make Things Accessible website, a repository for guidance material and useful resources for organisations looking to improve their digital accessibility.</p>
  <p>This project is a shared effort between a number of London-based universities looking to pool our efforts and knowledge on delivering accessible experiences for students and staff.</p>
  <p>The guidance material found on this website is aimed to help you complete accessibility related tasks whether that be better understanding of accessibility regulations, including accessibility requirements into procurement, conducting basic accessibility checks, and many other topics.</p>
  <p>Our guidance material is sorted into a number of ‘tags’ which can help you filter for relevant information. You can browse all material in the guidance section or filter for specific topics by selecting relevant ‘tags’.</p>
  <p>If you can’t find what you are looking for and get stuck, we have helpful FAQs and Glossary pages which may offer assistance. If there are topics that we have not yet added but you think we should, something we have gotten wrong, or you want to contact us for any other reason please reach out.</p>
</div>

<div class="latest-articles">
  <h2 class="latest-articles__heading" id="latestGuidesHeading">Latest guides</h2>
  <p class="latest-articles__intro">Our latest digital accessibility guides are displayed in this section, this will be updated each time we produce a new guide, alternatively, you can <a href="/guides/">view all guides here</a>.</p>
  <section class="cards--scrollable" tabindex="0" aria-labelledby="latestGuidesHeading">
    <ul class="cards">
      {%- for guide in collections.guides | reverse %}
        {% if loop.index < 7 %}
          {% include "_card.njk" %}
        {% endif %}
      {%- endfor %}
    </ul>
  </section>
</div>

<div class="latest-articles">
  <h2 class="latest-articles__heading" id="latestAAAHeading">Latest stories from AAA</h2>
  <p class="latest-articles__intro">Make Things Accessible are proud to collaborate with Access and Assistance for All (AAA) a campaign run by the British Youth Council. The campaign aims to encourage education organisations to sign up to the charter, which encourages supporters to ensure learning is inclusive for all students
    and make accommodations whenever necessary. Within the AAA section of this site, there are real student stories, which highlight some of the barriers current and previous students with disabilities have faced during their studies. there is a small selection of stories below, alternatively, you can view all <a href="/aaa/student-stories/">Student stories here</a>. You can also visit the <a href="/aaa/">AAA Home page</a>, to find out about the awesome work AAA doing to make learning more inclusive.
  </p>
  <section class="cards--scrollable" tabindex="0" aria-labelledby="latestAAAHeading">
    <ul class="cards">
      {% for card in collections.studentStoriesAAA | reverse %}
        {% if loop.index < 5 %}
          <li class="card__item">
            <div class="card__text-wrapper">
              <h2 class="card__title"><a href="{{ card.url }}" class="card__link">{{ card.data.title }}</a></h2>
            </div>
            <div class="card__img-wrapper">
              {%- if card.data.img %}{% image card.data.img, '' %}{% else %}<img class="card__placeholder-img--aaa" src="/img/aaa-light_vpjlfm_c_scale,w_360.png" alt="">{% endif %}
            </div>
          </li>
          {% endif %}
      {% endfor %}
    </ul>
  </section>
</div>