---
date: Last Modified
layout: base.njk
title: Home
home: true
---
<div class="intro-panel">
  <h2>Hello and welcome</h2>
  <p>To the Make Things Accessible website, a repository for guidance material and useful resources for organisations looking to improve their digital accessibility.</p>
  <p>This project is a shared effort between a number of London-based universities looking to pool our efforts and knowledge on delivering accessible experiences for students and staff.</p>
  <p>The guidance material found on this website is aimed to help you complete accessibility related tasks whether that be better understanding of accessibility regulations, including accessibility requirements into procurement, conducting basic accessibility checks, and many other topics.</p>
  <p>Our guidance material is sorted into a number of ‘tags’ which can help you filter for relevant information. You can browse all material in the guidance section or filter for specific topics by selecting relevant ‘tags’.</p>
  <p>If you can’t find what you are looking for and get stuck, we have helpful FAQs and Glossary pages which may offer assistance. If there are topics that we have not yet added but you think we should, something we have gotten wrong, or you want to contact us for any other reason please reach out.</p>
</div>

<div class="latest-articles">
  <h2 class="latest-articles__heading">Latest guides</h2>
  <p class="latest-articles__intro">Our latest 3 digital accessibility guides are displayed in this section, this will be updated each time we produce a new guide, alternatively, you can view all guides by selecting "Guides" in the main navigation or the footer area.</p>
  <div class="cards">
    {%- if collections.latest.length %}
      {%- for guide in collections.latest %}
      {% include "_card.njk" %}
      {%- endfor %}
    {%- endif %}
  </div>
</div>