---
permalink: '/sitemap.xml'
eleventyExcludeFromCollections: true
---
 
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.guides %}
    <url>
      <loc>{{ site.siteUrl }}{{ page.url | url }}</loc>
      <lastmod>{{ page.date.toISOString() }}</lastmod>
    </url>
  {% endfor %}
  {%- for item in navLinks | sort(attribute="text") %}
    {%- if item.text != 'Sitemap' %}
      {%- if item.text != 'Admin' %}
      <url>
        <loc>{{ site.siteUrl }}{{ item.url }}</loc>
        <lastmod>{{ page.date.toISOString() }}</lastmod>
      </url>
      {%- endif %}
    {%- endif %}
  {%- endfor %}
  {%- for tag in collections.tagList %}
  {%- set tagUrl %}/tags/{{ tag | slugify }}/{%- endset %}
    <url>
      <loc>{{ site.siteUrl }}{{ tagUrl }}</loc>
      <lastmod>{{ page.date.toISOString() }}</lastmod>
    </url>
  {%- endfor %}
</urlset>

  