---
layout: base.njk
title: Sitemap
summary: The sitemap navigation provides a list of all main pages and all digital accessibility guides, which are ordered by creation date, newest first
---
<div class="intro-panel">
  <h2>Sitemap navigation for pages and guides</h2>
  <p class="sitemap__text">Guides are displayed by most recent entry first.</p>
  <ul class="sitemap__list">
    {%- for item in navLinks | sort(attribute="text") %}
      {% if item.url != '/admin' %}
        {%- if item.url != page.url %}
          <li><a href="{{ item.url }}">{{ item.text }} page</a>
          {%- if item.text == 'Guides' %}
              <ul class="sitemap__list--nested">
                {%- for guide in collections.guides %}
                  <li><a href="{{ guide.url }}">{{ guide.data.title }}</a></li>
                {%- endfor %}
              </ul>
          {%- else %}
            </li>
          {%- endif %}
        {%- else %}
        <li aria-current="page">{{ item.text }} page</li>
        {%- endif %}
      {%- endif %}
    {%- endfor %}
  </ul>
</div>