---
pagination:
  data: collections
  size: 1
  filter: ['all', 'tagList', 'latest', 'guides', 'glossarysorted', 'terms', 'glossarySorted', 'faqs', 'writers', 'contibutors']
  alias: tag
permalink: /tags/{{ tag | slugify }}/
layout: base.njk
eleventyComputed:
  title: Guides Tagged with “{{ tag }}”
  summary: "View all digital accessibility help guides from across our website, to learn how to create inclusive digital experiences, filtered by the tag: {{ tag }}"
---

<div class="cards__wrapper">
  <h2>Showing {{ collections[ tag ].length }} result{%- if collections[ tag ].length > 1%}s{%- endif %} for {{ tag }}</h2>
  {% set headingLevel = 'h3' %}
  <ul class="cards">
    {% set taglist = collections[ tag ] %}
    {%- for guide in taglist | reverse %}
      {% include "_card.njk" %}
    {%- endfor %}
  </ul>
</div>